<div #stateHolder>
  <div class="col-lg-12 n-p fn-container">
    <div class="col-lg-12 main-area" [hidden]="state !== 0 || !dataSource">
      <app-fn-main title="Çalışanlar" [actions]="actions" [dataFields]="dataFields" [dataSource]="dataSource" (rowClick)="handleGridAction($event)"
        (actionClick)="handleNewAction($event)"></app-fn-main>
    </div>
    <div class="col-lg-12 new-area" [hidden]="state !== 1">
      <app-fn-form inheritTitle="Çalışanlar" newTitle="Yeni Çalışan" editTitle="Çalışan Düzenle" [(selectedItem)]="selectedItem" (onSave)="saveForm()" (onCancel)="cancelForm()">
          <div class="col-lg-6">
            <dx-form class="col-lg-12 form-element" [formData]="selectedItem" labelLocation="left" [colCount]="4">
              <dxi-item dataField="Adi" [colSpan]="2" [label]="{text: 'Adı'}"></dxi-item>
              <dxi-item dataField="Soyadi" [colSpan]="2" [label]="{text: 'Soyadı'}"></dxi-item>
              <dxi-item dataField="KategoriID" [colSpan]="2" [label]="{text: 'Kategori'}" editorType="dxSelectBox" [editorOptions]="{ items: categories, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
              <dxi-item dataField="IBAN" [colSpan]="2" [label]="{text: 'IBAN Numarası'}"></dxi-item>
              <dxi-item dataField="EpostaAdresi" [colSpan]="2" [label]="{text: 'E-posta'}"></dxi-item>
            </dx-form>
          </div>
          <div class="fn-right-side col-lg-6">
            <div class="fn-info col-lg-12 n-p">
              <span>Son İşlemler</span>
              <!-- <dx-data-grid class="fn-grid" [dataSource]="info" noDataText="Kayıt Bulunamadı">
                <dxi-column dataField="Aciklama" caption="Açıklama"></dxi-column>
                <dxi-column dataField="IslemTuru" caption="İşlem"></dxi-column>
                <dxi-column dataField="Meblag" caption="Meblağ"></dxi-column>
                <dxi-column dataField="Bakiye" caption="Bakiye"></dxi-column>
                <dxo-summary>
                  <dxi-total-item column="Bakiye" summaryType="sum" displayFormat="Toplam: {0}"></dxi-total-item>
                </dxo-summary>
              </dx-data-grid> -->
            </div>
          </div>
      </app-fn-form>
    </div>
  </div>
</div>