<div #stateHolder>
  <div class="col-lg-12 n-p fn-container">
    <div class="col-lg-12 main-area" [hidden]="state !== 0 || !dataSource">
      <app-fn-main title="Çalışanlar" [actions]="actions" [dataFields]="dataFields" [dataSource]="dataSource" (rowClick)="handleGridAction($event)"
        (actionClick)="handleNewAction($event)"></app-fn-main>
    </div>
    <div class="col-lg-12 new-area"  *ngIf="state !== 0">
      <app-fn-form inheritTitle="Çalışanlar" [state]="state" newTitle="Yeni Çalışan" editTitle="Çalışan Düzenle" (onSave)="saveForm(form)" (onCancel)="cancelForm()" [(selectedItem)]="selectedItem">
        <div class="col-lg-6">
          <dx-form #form class="col-lg-12 form-element" [formData]="selectedItem" labelLocation="top" [colCount]="4">
            <dxi-item dataField="Adi" [colSpan]="2" [label]="{text: 'Adı'}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Soyadi" [colSpan]="2" [label]="{text: 'Soyadı'}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="EpostaAdresi" [colSpan]="2" [label]="{text: 'E-posta'}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="IBAN" [colSpan]="2" [label]="{text: 'IBAN Numarası'}" [editorOptions]="{ mask: 'TR00 0000 0000 0000 0000 0000 00', maskInvalidMessage:'Iban formatı yanlış'}"></dxi-item>
            <dxi-item dataField="KategoriID" [colSpan]="2" [label]="{text: 'Kategori'}" editorType="dxSelectBox" [editorOptions]="{ items: categories, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
          </dx-form>
        </div>
        <div class="col-lg-6">
          <app-fn-info [dataSource]="dataSource3" *ngIf="info"></app-fn-info>
        </div>
      </app-fn-form>
    </div>
  </div>
</div>