
<div class="m-topbar  m-stack m-stack--ver m-stack--general" id="m_header_topbar">
		<div class="m-stack__item m-topbar__nav-wrapper">
			<ul class="m-topbar__nav m-nav m-nav--inline">
				<li class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light	m-list-search m-list-search--skin-light" data-dropdown-persistent="true" data-dropdown-toggle="click" data-search-type="dropdown" id="m_quicksearch">
					<a class="m-nav__link m-dropdown__toggle" href="#" ng-reflect-href="#">
						<span class="m-nav__link-icon">
							<i class="flaticon-search-1"></i>
						</span>
					</a>
					<div class="m-dropdown__wrapper">
						<span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
						<div class="m-dropdown__inner">
							<div class="m-dropdown__header">
								<form class="m-list-search__form">
									<div class="m-list-search__form-wrapper">
										<span class="m-list-search__form-input-wrapper">
											<input autocomplete="off" class="m-list-search__form-input" id="m_quicksearch_input" name="q" placeholder="Search..." type="text" value="">
										</span>
										<span class="m-list-search__form-icon-close" id="m_quicksearch_close">
											<i class="la la-remove"></i>
										</span>
									</div>
								</form>
							</div>
							<div class="m-dropdown__body">
								<div class="m-dropdown__scrollable m-scrollable mCustomScrollbar _mCS_1 mCS-autoHide mCS_no_scrollbar" data-max-height="300" data-mobile-max-height="200" style="max-height: 300px; overflow: visible; position: relative;"><div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: 0px;" tabindex="0"><div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
									<div class="m-dropdown__content"></div>
								</div></div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
							</div>
						</div>
					</div>
				</li>
				<li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" data-dropdown-persistent="true" data-dropdown-toggle="click">
					<a class="m-nav__link m-dropdown__toggle" href="#" id="m_topbar_notification_icon" ng-reflect-href="#">
						<span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger m-animate-blink"></span>
						<span class="m-nav__link-icon m-animate-shake">
							<i class="flaticon-music-2"></i>
						</span>
					</a>
					<div class="m-dropdown__wrapper">
						<span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
						<div class="m-dropdown__inner">
							<div class="m-dropdown__header m--align-center" style="background: url(./assets/app/media/img/misc/notification_bg.jpg); background-size: cover;">
								<span class="m-dropdown__header-title">
									9 New
								</span>
								<span class="m-dropdown__header-subtitle">
									User Notifications
								</span>
							</div>
							<div class="m-dropdown__body">
								<div class="m-dropdown__content">
									<ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
										<li class="nav-item m-tabs__item">
											<a class="nav-link m-tabs__link active" data-toggle="tab" href="#topbar_notifications_notifications" role="tab" ng-reflect-href="#topbar_notifications_notifica">
												Alerts
											</a>
										</li>
										<li class="nav-item m-tabs__item">
											<a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_events" role="tab" ng-reflect-href="#topbar_notifications_events">
												Events
											</a>
										</li>
										<li class="nav-item m-tabs__item">
											<a class="nav-link m-tabs__link" data-toggle="tab" href="#topbar_notifications_logs" role="tab" ng-reflect-href="#topbar_notifications_logs">
												Logs
											</a>
										</li>
									</ul>
									<div class="tab-content">
										<div class="tab-pane active" id="topbar_notifications_notifications" role="tabpanel">
											<div class="m-scrollable mCustomScrollbar _mCS_2 mCS-autoHide mCS_no_scrollbar" data-max-height="250" data-mobile-max-height="200" data-scrollable="true" style="max-height: 250px; height: 250px; position: relative; overflow: visible;"><div id="mCSB_2" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical mCSB_outside" style="max-height: 250px;" tabindex="0"><div id="mCSB_2_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
												<div class="m-list-timeline m-list-timeline--skin-light">
													<div class="m-list-timeline__items">
														<div class="m-list-timeline__item">
															<span class="m-list-timeline__badge -m-list-timeline__badge--state-success"></span>
															<span class="m-list-timeline__text">
																12 new users registered
															</span>
															<span class="m-list-timeline__time">
																Just now
															</span>
														</div>
														<div class="m-list-timeline__item">
															<span class="m-list-timeline__badge"></span>
															<span class="m-list-timeline__text">
																System shutdown
																<span class="m-badge m-badge--success m-badge--wide">
																	pending
																</span>
															</span>
															<span class="m-list-timeline__time">
																14 mins
															</span>
														</div>
														<div class="m-list-timeline__item">
															<span class="m-list-timeline__badge"></span>
															<span class="m-list-timeline__text">
																New invoice received
															</span>
															<span class="m-list-timeline__time">
																20 mins
															</span>
														</div>
														<div class="m-list-timeline__item">
															<span class="m-list-timeline__badge"></span>
															<span class="m-list-timeline__text">
																DB overloaded 80%
																<span class="m-badge m-badge--info m-badge--wide">
																	settled
																</span>
															</span>
															<span class="m-list-timeline__time">
																1 hr
															</span>
														</div>
														<div class="m-list-timeline__item">
															<span class="m-list-timeline__badge"></span>
															<span class="m-list-timeline__text">
																System error -
																<a class="m-link" href="#" ng-reflect-href="#">
																	Check
																</a>
															</span>
															<span class="m-list-timeline__time">
																2 hrs
															</span>
														</div>
														<div class="m-list-timeline__item m-list-timeline__item--read">
															<span class="m-list-timeline__badge"></span>
															<span class="m-list-timeline__text" href="" ng-reflect-href="">
																New order received
																<span class="m-badge m-badge--danger m-badge--wide">
																	urgent
																</span>
															</span>
															<span class="m-list-timeline__time">
																7 hrs
															</span>
														</div>
														<div class="m-list-timeline__item m-list-timeline__item--read">
															<span class="m-list-timeline__badge"></span>
															<span class="m-list-timeline__text">
																Production server down
															</span>
															<span class="m-list-timeline__time">
																3 hrs
															</span>
														</div>
														<div class="m-list-timeline__item">
															<span class="m-list-timeline__badge"></span>
															<span class="m-list-timeline__text">
																Production server up
															</span>
															<span class="m-list-timeline__time">
																5 hrs
															</span>
														</div>
													</div>
												</div>
											</div></div><div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div></div>
										</div>
										<div class="tab-pane" id="topbar_notifications_events" role="tabpanel">
											<div class="m-scrollable" data-max-height="250" data-mobile-max-height="200">
												<div class="m-list-timeline m-list-timeline--skin-light">
													<div class="m-list-timeline__items">
														<div class="m-list-timeline__item">
															<span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
															<a class="m-list-timeline__text" href="" ng-reflect-href="">
																New order received
															</a>
															<span class="m-list-timeline__time">
																Just now
															</span>
														</div>
														<div class="m-list-timeline__item">
															<span class="m-list-timeline__badge m-list-timeline__badge--state1-danger"></span>
															<a class="m-list-timeline__text" href="" ng-reflect-href="">
																New invoice received
															</a>
															<span class="m-list-timeline__time">
																20 mins
															</span>
														</div>
														<div class="m-list-timeline__item">
															<span class="m-list-timeline__badge m-list-timeline__badge--state1-success"></span>
															<a class="m-list-timeline__text" href="" ng-reflect-href="">
																Production server up
															</a>
															<span class="m-list-timeline__time">
																5 hrs
															</span>
														</div>
														<div class="m-list-timeline__item">
															<span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
															<a class="m-list-timeline__text" href="" ng-reflect-href="">
																New order received
															</a>
															<span class="m-list-timeline__time">
																7 hrs
															</span>
														</div>
														<div class="m-list-timeline__item">
															<span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
															<a class="m-list-timeline__text" href="" ng-reflect-href="">
																System shutdown
															</a>
															<span class="m-list-timeline__time">
																11 mins
															</span>
														</div>
														<div class="m-list-timeline__item">
															<span class="m-list-timeline__badge m-list-timeline__badge--state1-info"></span>
															<a class="m-list-timeline__text" href="" ng-reflect-href="">
																Production server down
															</a>
															<span class="m-list-timeline__time">
																3 hrs
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="tab-pane" id="topbar_notifications_logs" role="tabpanel">
											<div class="m-stack m-stack--ver m-stack--general" style="min-height: 180px;">
												<div class="m-stack__item m-stack__item--center m-stack__item--middle">
													<span class="">
														All caught up!
														<br>
														No new logs.
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="m-nav__item m-topbar__quick-actions m-topbar__quick-actions--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
					<a class="m-nav__link m-dropdown__toggle" href="#" ng-reflect-href="#">
						<span class="m-nav__link-badge m-badge m-badge--dot m-badge--info m--hide"></span>
						<span class="m-nav__link-icon">
							<i class="flaticon-share"></i>
						</span>
					</a>
					<div class="m-dropdown__wrapper">
						<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
						<div class="m-dropdown__inner">
							<div class="m-dropdown__header m--align-center" style="background: url(./assets/app/media/img/misc/quick_actions_bg.jpg); background-size: cover;">
								<span class="m-dropdown__header-title">
									Quick Actions
								</span>
								<span class="m-dropdown__header-subtitle">
									Shortcuts
								</span>
							</div>
							<div class="m-dropdown__body m-dropdown__body--paddingless">
								<div class="m-dropdown__content">
									<div class="m-scrollable" data-max-height="380" data-mobile-max-height="200" data-scrollable="false">
										<div class="m-nav-grid m-nav-grid--skin-light">
											<div class="m-nav-grid__row">
												<a class="m-nav-grid__item" href="#" ng-reflect-href="#">
													<i class="m-nav-grid__icon flaticon-file"></i>
													<span class="m-nav-grid__text">
														Generate Report
													</span>
												</a>
												<a class="m-nav-grid__item" href="#" ng-reflect-href="#">
													<i class="m-nav-grid__icon flaticon-time"></i>
													<span class="m-nav-grid__text">
														Add New Event
													</span>
												</a>
											</div>
											<div class="m-nav-grid__row">
												<a class="m-nav-grid__item" href="#" ng-reflect-href="#">
													<i class="m-nav-grid__icon flaticon-folder"></i>
													<span class="m-nav-grid__text">
														Create New Task
													</span>
												</a>
												<a class="m-nav-grid__item" href="#" ng-reflect-href="#">
													<i class="m-nav-grid__icon flaticon-clipboard"></i>
													<span class="m-nav-grid__text">
														Completed Tasks
													</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
					<a class="m-nav__link m-dropdown__toggle" href="#" ng-reflect-href="#">
						<span class="m-topbar__userpic">
							<img alt="" class="m--img-rounded m--marginless m--img-centered" src="./assets/app/media/img/users/user4.jpg">
						</span>
						<span class="m-topbar__username m--hide">
							Nick
						</span>
					</a>
					<div class="m-dropdown__wrapper">
						<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
						<div class="m-dropdown__inner">
							<div class="m-dropdown__header m--align-center" style="background: url(./assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
								<div class="m-card-user m-card-user--skin-dark">
									<div class="m-card-user__pic">
										<img alt="" class="m--img-rounded m--marginless" src="./assets/app/media/img/users/user4.jpg">
									</div>
									<div class="m-card-user__details">
										<span class="m-card-user__name m--font-weight-500">
											Mark Andre
										</span>
										<a class="m-card-user__email m--font-weight-300 m-link" href="" ng-reflect-href="">
											mark.andre@gmail.com
										</a>
									</div>
								</div>
							</div>
							<div class="m-dropdown__body">
								<div class="m-dropdown__content">
									<ul class="m-nav m-nav--skin-light">
										<li class="m-nav__section m--hide">
											<span class="m-nav__section-text">
												Section
											</span>
										</li>
										<li class="m-nav__item">
											<a class="m-nav__link" routerlink="/header/profile" ng-reflect-router-link="/header/profile" href="/metronic/preview/default/angular/header/profile">
												<i class="m-nav__link-icon flaticon-profile-1"></i>
												<span class="m-nav__link-title">
													<span class="m-nav__link-wrap">
														<span class="m-nav__link-text">
															My Profile
														</span>
														<span class="m-nav__link-badge">
															<span class="m-badge m-badge--success">
																2
															</span>
														</span>
													</span>
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a class="m-nav__link" routerlink="/header/profile" ng-reflect-router-link="/header/profile" href="/metronic/preview/default/angular/header/profile">
												<i class="m-nav__link-icon flaticon-share"></i>
												<span class="m-nav__link-text">
													Activity
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a class="m-nav__link" routerlink="/header/profile" ng-reflect-router-link="/header/profile" href="/metronic/preview/default/angular/header/profile">
												<i class="m-nav__link-icon flaticon-chat-1"></i>
												<span class="m-nav__link-text">
													Messages
												</span>
											</a>
										</li>
										<li class="m-nav__separator m-nav__separator--fit"></li>
										<li class="m-nav__item">
											<a class="m-nav__link" routerlink="/header/profile" ng-reflect-router-link="/header/profile" href="/metronic/preview/default/angular/header/profile">
												<i class="m-nav__link-icon flaticon-info"></i>
												<span class="m-nav__link-text">
													FAQ
												</span>
											</a>
										</li>
										<li class="m-nav__item">
											<a class="m-nav__link" routerlink="/header/profile" ng-reflect-router-link="/header/profile" href="/metronic/preview/default/angular/header/profile">
												<i class="m-nav__link-icon flaticon-lifebuoy"></i>
												<span class="m-nav__link-text">
													Support
												</span>
											</a>
										</li>
										<li class="m-nav__separator m-nav__separator--fit"></li>
										<li class="m-nav__item">
											<a class="btn m-btn--pill    btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder" routerlink="/logout" ng-reflect-router-link="/logout" href="/metronic/preview/default/angular/logout">
												Logout
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li class="m-nav__item" id="m_quick_sidebar_toggle">
					<a class="m-nav__link m-dropdown__toggle" href="#" ng-reflect-href="#">
						<span class="m-nav__link-icon">
							<i class="flaticon-grid-menu"></i>
						</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
