<!-- begin::Horizontal Menu -->
<div class="m-stack__item m-stack__item--middle" appunwraptag="" style="    width: 56%;">
	<button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light" id="m_aside_header_menu_mobile_close_btn">
		<i class="la la-close"></i>
	</button>
	<div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light">
		<ul class="m-menu__nav  m-menu__nav--submenu-arrow">
			<li class="m-menu__item  " routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
				<a routerLink="/index" class="m-menu__link">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						Güncel Durum
					</span>
				</a>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
			    data-menu-submenu-toggle="click" aria-haspopup="true">
				<a href="#" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						Satışlar
					</span>
					<i class="m-menu__hor-arrow la la-angle-down"></i>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
					<span class="m-menu__arrow m-menu__arrow--adjust"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/yenikasa" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-business"></i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Faturalar
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
							<a href="#" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon flaticon-users"></i>
								<span class="m-menu__link-text">
									Müşteriler
								</span>
							</a>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
							<a href="#" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon flaticon-diagram"></i>
								<span class="m-menu__link-text">
									Satış Raporu
								</span>
							</a>
						</li>
						<li class="m-menu__item" data-redirect="true" aria-haspopup="true">
							<a routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-diagram"></i>
								<span class="m-menu__link-text">
									Tahsilat Raporu
								</span>
							</a>
						</li>
						<li class="m-menu__item" data-redirect="true" aria-haspopup="true">
							<a routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-diagram"></i>
								<span class="m-menu__link-text">
									Gelir Gider Raporu
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
				<a href="#" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						Giderler
					</span>
					<i class="m-menu__hor-arrow la la-angle-down"></i>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
					<span class="m-menu__arrow m-menu__arrow--adjust"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/yenikasa" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-business"></i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Gider Listesi
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
							<a href="#" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon flaticon-users"></i>
								<span class="m-menu__link-text">
									Tedarikciler
								</span>
							</a>
						</li>
						<li class="m-menu__item  m-menu__item--submenu" data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
							<a href="#" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon flaticon-users"></i>
								<span class="m-menu__link-text">
									Çalışanlar
								</span>
							</a>
						</li>
						<li class="m-menu__item" data-redirect="true" aria-haspopup="true">
							<a routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-diagram"></i>
								<span class="m-menu__link-text">
									Tahsilat Raporu
								</span>
							</a>
						</li>
						<li class="m-menu__item" data-redirect="true" aria-haspopup="true">
							<a routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-diagram"></i>
								<span class="m-menu__link-text">
									Gider Raporu
								</span>
							</a>
						</li>
						<li class="m-menu__item" data-redirect="true" aria-haspopup="true">
							<a routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-diagram"></i>
								<span class="m-menu__link-text">
									Ödemeler Raporu
								</span>
							</a>
						</li>
						<li class="m-menu__item" data-redirect="true" aria-haspopup="true">
							<a routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-diagram"></i>
								<span class="m-menu__link-text">
									KDV Raporu
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" routerLinkActive="m-menu__item--open" routerLinkActiveOptions="{ exact: true }"
			    data-menu-submenu-toggle="click" aria-haspopup="true">
				<a href="#" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						Finans
					</span>
					<i class="m-menu__hor-arrow la la-angle-down"></i>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left">
					<span class="m-menu__arrow m-menu__arrow--adjust"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
							<a routerLink="/liste/kasa" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-business"></i>
								<span class="m-menu__link-title">
									<span class="m-menu__link-wrap">
										<span class="m-menu__link-text">
											Kasa Listesi
										</span>
									</span>
								</span>
							</a>
						</li>
						<li class="m-menu__item" routerLinkActive="m-menu__item--active" routerLinkActiveOptions="{ exact: true }" aria-haspopup="true">
								<a routerLink="/liste/banka" class="m-menu__link">
									<i class="m-menu__link-icon flaticon-business"></i>
									<span class="m-menu__link-title">
										<span class="m-menu__link-wrap">
											<span class="m-menu__link-text">
												Banka Listesi
											</span>
										</span>
									</span>
								</a>
							</li>
						<li class="m-menu__item  m-menu__item--submenu" data-menu-submenu-toggle="hover" data-redirect="true" aria-haspopup="true">
							<a href="#" class="m-menu__link m-menu__toggle">
								<i class="m-menu__link-icon flaticon-users"></i>
								<span class="m-menu__link-text">
									Çek Listesi
								</span>
							</a>
						</li>
						<li class="m-menu__item" data-redirect="true" aria-haspopup="true">
							<a routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-diagram"></i>
								<span class="m-menu__link-text">
									Kasa ve Banka Raporu
								</span>
							</a>
						</li>
						<li class="m-menu__item" data-redirect="true" aria-haspopup="true">
							<a routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-diagram"></i>
								<span class="m-menu__link-text">
									Nakit Akış Raporu
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="m-menu__item  m-menu__item--submenu m-menu__item--rel m-menu__item--more m-menu__item--icon-only" data-menu-submenu-toggle="click"
			    data-redirect="true" aria-haspopup="true">
				<a href="#" class="m-menu__link m-menu__toggle">
					<span class="m-menu__item-here"></span>
					<span class="m-menu__link-text">
						Stok
					</span>
					<i class="m-menu__hor-arrow la la-angle-down"></i>
					<i class="m-menu__ver-arrow la la-angle-right"></i>
				</a>
				<div class="m-menu__submenu m-menu__submenu--classic m-menu__submenu--left m-menu__submenu--pull">
					<span class="m-menu__arrow m-menu__arrow--adjust"></span>
					<ul class="m-menu__subnav">
						<li class="m-menu__item" data-redirect="true" aria-haspopup="true">
							<a routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-business"></i>
								<span class="m-menu__link-text">
									Hizmet ve Ürünler
								</span>
							</a>
						</li>
						<li class="m-menu__item" data-redirect="true" aria-haspopup="true">
							<a routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-diagram"></i>
								<span class="m-menu__link-text">
									Stok Hareketleri
								</span>
							</a>
						</li>
						<li class="m-menu__item" data-redirect="true" aria-haspopup="true">
							<a routerLink="/inner" class="m-menu__link">
								<i class="m-menu__link-icon flaticon-diagram"></i>
								<span class="m-menu__link-text">
									Stoktaki Ürünler Raporu
								</span>
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>
<!-- end::Horizontal Menu -->