<div class="m-content">
    <div class="row">
        <div class="m-portlet m-portlet--tab" style="width:100%">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            {{Title}}
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                            data-dropdown-toggle="hover">

                            <div class="m-form__actions">
                                <button type="reset" (click)="Kaydet()" class="btn btn-primary">
                                    Kaydet
                                </button>
                                <button type="reset" (click)="Vazgec()" class="btn btn-danger">
                                    Vazgeç
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-form m-form--fit m-form--label-align-left">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            Açıklama:
                        </label>
                        <div class="col-lg-6">
                            <dx-text-box [(ngModel)]="HesapAdi"></dx-text-box>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            Müşteri:
                        </label>
                        <div class="col-lg-6">
                            <dx-select-box [items]="KategoriList" [(ngModel)]="SelectedKetegori"></dx-select-box>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            Adres:
                        </label>
                        <div class="col-lg-6">
                            <dx-text-area [height]="90" [maxLength]="100">
                            </dx-text-area>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            İl:
                        </label>
                        <div class="col-lg-2">
                            <dx-select-box [items]="KategoriList" [(ngModel)]="SelectedKetegori"></dx-select-box>
                        </div>
                        <label class="col-lg-1 col-form-label">
                            İlçe:
                        </label>
                        <div class="col-lg-3">
                            <dx-select-box [items]="KategoriList" [(ngModel)]="SelectedKetegori"></dx-select-box>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            Giriş Tarihi:
                        </label>
                        <div class="col-lg-2">
                            <dx-date-box [(ngModel)]="AcilisTarihi" displayFormat="dd.MM.yyyy" type="date" style="width: 100% !important;">
                            </dx-date-box>
                        </div>
                        <label class="col-lg-1 col-form-label">
                            Sevk Tarihi:
                        </label>
                        <div class="col-lg-3">
                            <dx-date-box [(ngModel)]="AcilisTarihi" displayFormat="dd.MM.yyyy" type="date" style="width: 100% !important;">
                            </dx-date-box>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            İrsaliye No:
                        </label>
                        <div class="col-lg-2">
                                <dx-text-box [(ngModel)]="HesapAdi" class="form-control m-input"></dx-text-box>
                        </div>
                    </div>
                    <div class="m-form__seperator m-form__seperator--dashed"></div>

                    <div class="form-group m-form__group row pb-0">
                        <label class="col-lg-6 col-form-label">
                            Ürün
                        </label>
                        <label class="col-lg-2 col-form-label">
                            Miktar
                        </label>
                        <label class="col-lg-2 col-form-label">
                            Birim
                        </label>
                        <div class="col-lg-1">
                                <button class="btn btn-info m-btn m-btn--icon m-btn--icon-only">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                    </div>
                    <div class="m-form__seperator m-form__seperator"></div>

                    <div class="form-group m-form__group row  pb-0">
                        <div class="col-lg-6">
                            <dx-text-box [(ngModel)]="HesapAdi" class="form-control m-input"></dx-text-box>
                        </div>
                        <div class="col-lg-2">
                            <dx-text-box [(ngModel)]="HesapAdi" class="form-control m-input"></dx-text-box>
                        </div>
                        <div class="col-lg-2">
                            <dx-text-box [(ngModel)]="HesapAdi" class="form-control m-input"></dx-text-box>
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group m-form__group row pt-1">
                        <div class="col-lg-6">
                            <dx-text-box [(ngModel)]="HesapAdi" class="form-control m-input"></dx-text-box>
                        </div>
                        <div class="col-lg-2">
                            <dx-text-box [(ngModel)]="HesapAdi" class="form-control m-input"></dx-text-box>
                        </div>
                        <div class="col-lg-2">
                            <dx-text-box [(ngModel)]="HesapAdi" class="form-control m-input"></dx-text-box>
                        </div>
                        <div class="col-lg-1">
                            <button class="btn btn-danger m-btn m-btn--icon m-btn--icon-only">
                                <i class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>