:host{
    position: fixed;
}

@keyframes fadeout{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}

.fade-out{
    user-select: none;
    pointer-events:none;
    animation:1s fadeout ease-in-out 1;
}