:host {
    position: relative;
    width: calc(100% - 40px);
    margin-left: 20px;
    height: 100%;
    float: left;
    margin-top: 50px;
}

.fn-info {
    background: linear-gradient(to right, rgb(242, 242, 242), rgb(250, 250, 250));
    border-radius: 0;
    padding: 16px 10px !important;
    height: 100%;
}

.fn-info>span {
    font-size: 1.5rem;
    margin-left: 30px;
    font-weight: 700;
    margin-bottom: 17px;
    display: inline-block;
    color: rgb(26, 33, 41);
}

:host /deep/ .fn-info .dx-datagrid {
    color: rgb(26, 33, 41);
    font-weight: 100;
}

:host /deep/ .fn-info .dx-datagrid-headers.dx-datagrid-nowrap {
    color: rgb(26, 33, 41);
}

:host /deep/ .fn-info .dx-datagrid-summary-item {
    color: rgb(26, 33, 41);
}

:host /deep/ .fn-info .dx-datagrid-total-footer .dx-Wdatagrid-content.dx-datagrid-scroll-container td {
    border-bottom: none;
}

:host /deep/ .fn-info .fn-grid {
    margin-top: unset;
}

:host /deep/ .dx-datagrid .dx-row.dx-data-row.dx-column-lines:hover td {
    background: rgb(177, 177, 177);
}