<div #stateHolder>
  <div class="col-lg-12 n-p fn-container">
    <div class="col-lg-12 fn-left-side" *ngIf="state === 0">
      <div class="fn-header">
        <span class="main">Giderler
          <i class="anticon anticon-right"></i>
          <b> Tedarikçiler</b>
        </span>
      </div>
      <div class="fn-button-holder">
        <button class="fn-button">
          <i class="anticon anticon-bars"></i>
          <span>İşlemler</span>
        </button>
        <div class="fn-dropdown">
          <span (click)="newItem()">Yeni Tedarikçi</span>
        </div>
      </div>
      <app-fn-grid (rowClick)="handleItem($event)" [dataSource]="dataSource" [dataFields]="dataFields"></app-fn-grid>
    </div>
    <div class="col-lg-12" *ngIf="state !== 0">
      <div class="fn-header">
        <span class="main" *ngIf="state === 1">Giderler
          <i class="anticon anticon-right"></i> Tedarikçiler
          <i class="anticon anticon-right"></i>
          <b> Yeni Tedarikçi</b>
        </span>
        <span class="main" *ngIf="state === 2">Giderler
          <i class="anticon anticon-right"></i> Tedarikçiler
          <i class="anticon anticon-right"></i>
          <b> Tedarikçi Düzenle</b>
        </span>
        <div class="fn-form-buttons">
          <button class="fn-close" (click)="cancelOperation()">Vazgeç</button>
          <button class="fn-ok" (click)="saveItem()">Kaydet</button>
        </div>
      </div>

      <div class="form-holder">
        <div class="col-lg-6">
          <dx-form class="col-lg-12 form-element" [formData]="selectedItem" labelLocation="top" [colCount]="4">
            <dxi-item dataField="Unvani" [colSpan]="4" [label]="{text: 'Firma Unvanı'}"></dxi-item>
            <dxi-item dataField="KisaAdi" [colSpan]="2" [label]="{text: 'Kısa İsim'}"></dxi-item>
            <dxi-item dataField="KategoriID" [colSpan]="2" [label]="{text: 'Kategori'}" editorType="dxSelectBox" [editorOptions]="{ items: categories, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="EpostaAdresi" [colSpan]="2" [label]="{text: 'E-posta Adresi'}"></dxi-item>
            <dxi-item dataField="Telefon" [colSpan]="1" [label]="{text: 'Tel No'}"></dxi-item>
            <dxi-item dataField="Faks" [colSpan]="1" [label]="{text: 'Faks No'}"></dxi-item>
            <dxi-item dataField="IBAN" [colSpan]="2" [label]="{text: 'IBAN'}"></dxi-item>
            <dxi-item dataField="VergiDaire" [colSpan]="1" [label]="{text: 'Vergi Dairesi'}"></dxi-item>
            <dxi-item dataField="VergiNo" [colSpan]="1" [label]="{text: 'VKN/TCKN'}"></dxi-item>
            <dxi-item dataField="SehirID" [colSpan]="2" [label]="{text: 'İl'}"></dxi-item>
            <dxi-item dataField="SehirID" [colSpan]="2" [label]="{text: 'İl'}" editorType="dxSelectBox" [editorOptions]="{ items: cities, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="KasabaID" [colSpan]="2" [label]="{text: 'İlçe'}" editorType="dxSelectBox" [editorOptions]="{ items: districts, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="Adres" [colSpan]="4" [label]="{text: 'Adres'}" editorType="dxTextArea"></dxi-item>
            <dxi-item dataField="Tur" [colSpan]="2" [label]="{text: 'Türü'}" editorType="dxSelectBox" [editorOptions]="{ items: supplierTypes, displayExpr:'Name', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="AcilisBakiyesi" [label]="{text: 'Açılış Bakiyesi'}"></dxi-item>
            <dxi-item dataField="AcilisBakiyeDovizTipi.ID" [colSpan]="2" [label]="{text: 'Döviz'}" editorType="dxSelectBox" [editorOptions]="{ items: currencies, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
          </dx-form>
        </div>
        <div class="fn-right-side col-lg-6">
          <div class="fn-info col-lg-12 n-p">
            <span>Son İşlemler</span>
            <dx-data-grid class="fn-grid" [dataSource]="info" noDataText="Kayıt Bulunamadı">
              <dxi-column dataField="Aciklama" caption="Açıklama"></dxi-column>
              <dxi-column dataField="IslemTuru" caption="İşlem"></dxi-column>
              <dxi-column dataField="Meblag" caption="Meblağ"></dxi-column>
              <dxi-column dataField="Bakiye" caption="Bakiye"></dxi-column>
              <dxo-summary>
                <dxi-total-item column="Bakiye" summaryType="sum" displayFormat="Toplam: {0}"></dxi-total-item>
              </dxo-summary>
            </dx-data-grid>
          </div>
        </div>
      </div>
      <div class="fn-grid-holder">
        <dx-data-grid id="gridContainer" [dataSource]="dataSource2">
          <dxo-editing mode="cell" [allowUpdating]="true"> </dxo-editing>
          <dxi-column dataField="Product" caption="Yetkili Kişinin Adı"></dxi-column>
          <dxi-column dataField="Product1" caption="E-posta"></dxi-column>
          <dxi-column dataField="Product2" caption="Telefon"></dxi-column>
          <dxi-column dataField="Product3" caption="Not"></dxi-column>
        </dx-data-grid>
        <div style="margin-top: 10px !important;">
          <div class="col-lg-3 n-p">
            <button (click)="addRow()" class="fn-button transparent">
              <i class="anticon anticon-plus-circle-o"></i>Bir Yetkili Ekle</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>