<div #stateHolder>
  <div class="col-lg-12 n-p fn-container">
    <div class="col-lg-12 main-area" [hidden]="state !== 0 || !dataSource">
      <app-fn-main title="Hizmet ve Ürünler" [actions]="actions" [dataFields]="dataFields" [dataSource]="dataSource" (rowClick)="handleGridAction($event)"
        (actionClick)="handleNewAction($event)"></app-fn-main>
    </div>
    <div class="col-lg-12 new-area" *ngIf="state !== 0">
      <app-fn-form inheritTitle="Hizmet ve Ürünler" [state]="state" newTitle="Yeni Hizmet/Ürün" editTitle="Hizmet/Ürün Düzenle"
        [(selectedItem)]="selectedItem" (onSave)="saveForm(form)" (onCancel)="cancelForm()">
        <div class="col-lg-6">
          <dx-form #form class="form-element" [formData]="selectedItem" labelLocation="top" [colCount]="4" [showColonAfterLabel]=false>
            <dxi-item dataField="Adi" [colSpan]="4" [label]="{text: 'Adı'}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Kodu" [colSpan]="2" [label]="{text: 'Ürün / Stok Kodu'}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="AcilisStokMiktari" [colSpan]="1" [label]="{text: 'Açılış Stok'}"></dxi-item>
            <dxi-item dataField="StokTakibiYapisin" [colSpan]="1" editorType="dxCheckBox" [label]="{text: 'Stok Takibi'}"></dxi-item>
            <dxi-item dataField="AlisFiyati" [colSpan]="2" [label]="{text: 'Alış Fiyatı'}"></dxi-item>
            <dxi-item dataField="AlisFiyatiDovizTipi" [colSpan]="2" [label]="{text: 'Döviz'}" editorType="dxSelectBox" [editorOptions]="{ items: currencies, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="SatisFiyati" [colSpan]="2" [label]="{text: 'Satış Fiyatı'}"></dxi-item>
            <dxi-item dataField="SatisFiyatiDovizTipi" [colSpan]="2" [label]="{text: 'Döviz'}" editorType="dxSelectBox" [editorOptions]="{ items: currencies, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="AlisKdvOrani" [colSpan]="2" [label]="{text: 'Alış KDV'}" editorType="dxSelectBox" [editorOptions]="{ items: taxes, displayExpr:'Name', valueExpr:'Value', value:0 }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="SatisKdvOrani" [colSpan]="2" [label]="{text: 'Satış KDV'}" editorType="dxSelectBox" [editorOptions]="{ items: taxes, displayExpr:'Name', valueExpr:'Value', value:0 }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="AlisOtvOrani" [colSpan]="2" [label]="{text: 'Alış ÖTV'}" editorType="dxNumberBox" [editorOptions]="{format:'#0%', step:0.1, value:0}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="SatisOtvOrani" [colSpan]="2" [label]="{text: 'Satış ÖTV'}" editorType="dxNumberBox" [editorOptions]="{format:'#0%', step:0.1, value:0}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="OivOrani" [colSpan]="2" [label]="{text: 'ÖİV'}" editorType="dxNumberBox" [editorOptions]="{format:'#0%', step:0.1, value:0}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="KategoriID" [colSpan]="2" [label]="{text: 'Kategori'}" editorType="dxSelectBox" [editorOptions]="{ items: categories, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
          </dx-form>
        </div>
        <div class="fn-grid-holder">
          <dx-data-grid id="gridContainer" [dataSource]="dataSource2" noDataText="Kayıt Bulunamadı" [editing]="{texts: {confirmDeleteMessage:'Bu barkodu silmek istediğinize emin misiniz?', deleteRow: 'Sil'}}"  (onCellClick)="onClickCell($event)">
            <dxo-editing mode="cell" [allowUpdating]="true" [allowDeleting]="true"> </dxo-editing>
            <dxi-column dataField="Barkodu" caption="Barkod"></dxi-column>
            <dxi-column dataField="BirimNo" caption="Birim" [setCellValue]="birimChange">
              <dxo-lookup [dataSource]="birimler" displayExpr="Name" valueExpr="Value"> </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="Katsayi" caption="Miktar"></dxi-column>
            <dxi-column dataField="Fiyat1" caption="Fiyat" format="#,##0.##"></dxi-column>
          </dx-data-grid>
          <div style="margin-top: 10px !important;">
            <div>
              <button (click)="addRow()" class="fn-button transparent">
                <i class="anticon anticon-plus-circle-o"></i>Bir Barkod Ekle</button>
            </div>
          </div>
          <app-fn-info [dataSource]="dataSource3" [columns]="columns" *ngIf="info"></app-fn-info>
        </div>
      </app-fn-form>
    </div>
  </div>
</div>