<div #stateHolder>
  <div class="col-lg-12 n-p fn-container">
    <div class="col-lg-12 main-area" [hidden]="state !== 0 || !dataSource">
      <app-fn-main title="Teklifler" [actions]="actions" [dataFields]="dataFields" [dataSource]="dataSource" (rowClick)="handleGridAction($event)"
        (actionClick)="handleNewAction($event)"></app-fn-main>
    </div>

    <div class="col-lg-12 new-area" [hidden]="state !== 1">
      <app-fn-form inheritTitle="Teklifler" newTitle="Yeni Teklif" editTitle="Teklif Düzenle" [(selectedItem)]="selectedItem" (onSave)="saveForm()"
        (onCancel)="cancelForm()">
        <div class="col-lg-6">
          <dx-form class="form-element" [formData]="selectedItem" labelLocation="top" [colCount]="4">
            <dxi-item dataField="Aciklama" [colSpan]="4" [label]="{text: 'Teklif açıklaması'}"></dxi-item>
            <dxi-item dataField="CariHesapID" [colSpan]="4" #itemHolder [label]="{text: 'Müşteri'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: customers, displayExpr:'Unvan', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="BelgeTarihi" [colSpan]="2" [label]="{text: 'Düzenleme Tarihi'}" editorType="dxDateBox" [editorOptions]="{ width: '100%'}"></dxi-item>
            <dxi-item dataField="VadeTarihi" [colSpan]="2" [label]="{text: 'Vade Tarihi'}" editorType="dxDateBox" [editorOptions]="{ width: '100%'}"></dxi-item>
            <dxi-item dataField="TeklifKosullari" [colSpan]="4" [label]="{text: 'Teklif Koşulları'}" editorType="dxTextArea"></dxi-item>
          </dx-form>
        </div>
        <div class="fn-grid-holder">
          <dx-data-grid id="gridContainer" #detailGrid [dataSource]="dataSource2" noDataText="Kayıt Bulunamadı" (onCellClick)="onClickCell($event)"
            [masterDetail]="{ enabled: true, template: 'detail' }">
            <dxo-selection mode="single"></dxo-selection>
            <dxo-editing mode="cell" [allowUpdating]="true"> </dxo-editing>
            <dxi-column dataField="StokID" caption="Hizmet/Ürün" [setCellValue]="valueChange">
              <dxo-lookup [dataSource]="products" displayExpr="Adi" valueExpr="ID"> </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="Birim" caption="Birim" [width]="'10%'"></dxi-column>
            <dxi-column dataField="Miktar" caption="Miktar" [width]="'10%'"></dxi-column>
            <dxi-column dataField="BirimFiyat" caption="Fiyat" [width]="'10%'"></dxi-column>
            <dxi-column dataField="VergiOran" caption="KDV" [width]="'10%'">
              <dxo-lookup [dataSource]="taxes" displayExpr="Name" valueExpr="Value"> </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="Tutar" caption="Toplam" [width]="'15%'" format="#,##0.##"></dxi-column>
            <div *dxTemplate="let item of 'detail'">
              <dx-form class="form-element inline" [formData]="item.data" labelLocation="left" [colCount]="2">
                <dxi-item dataField="Aciklama" [colSpan]="2" [label]="{text: 'Açıklama'}"></dxi-item>
                <dxi-item dataField="IndirimTipi" [colSpan]="1" #itemHolder [label]="{text: 'İndirim Tipi'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: discountTypes, displayExpr:'Name', valueExpr:'ID', onValueChanged: calculateSum }"></dxi-item>
                <dxi-item dataField="IndirimOranTutar" [colSpan]="1" [label]="{text: 'İndirim'}" [editorOptions]="{onValueChanged: calculateSum}"></dxi-item>
                <dxi-item dataField="OivOrani" [colSpan]="1" [label]="{text: 'ÖİV'}" [editorOptions]="{onValueChanged: calculateSum}"></dxi-item>
                <dxi-item dataField="OtvOrani" [colSpan]="1" [label]="{text: 'ÖTV'}" [editorOptions]="{onValueChanged: calculateSum}"></dxi-item>
              </dx-form>
            </div>
          </dx-data-grid>
          <div style="margin-top: 10px !important;">
            <div>
              <button (click)="addRow()" class="fn-button transparent">
                <i class="anticon anticon-plus-circle-o"></i>Bir Hizmet/Ürün Ekle</button>
            </div>
          </div>
        </div>
      </app-fn-form>
    </div>
  </div>
</div>