<dx-data-grid id="gridContainer" class="fn-grid" [dataSource]="dataSource" (onRowClick)="onRowClick($event)" noDataText="Kayıt Bulunamadı" [rowAlternationEnabled]="true">
    <dxo-search-panel [visible]="true" [width]="240" placeholder="Arama..."></dxo-search-panel>
    <dxo-paging [pageSize]="20"></dxo-paging>
    <dxi-column *ngFor="let item of dataFields" dataField="{{item.dataField}}" caption="{{item.caption}}" class="{{item.caption}}" [width]="item.caption == 'ID' ? '55px' : 'auto'" dataType="{{item.dataType ? item.dataType : ''}}" [format]="item.format ? item.format : ''"></dxi-column>
  </dx-data-grid>