<div #stateHolder>
    <div class="col-lg-12 n-p fn-container">
        <div class="col-lg-12 fn-left-side" *ngIf="state === 0">
            <div class="fn-header">
                <span class="main">Satışlar
                    <i class="anticon anticon-right"></i>
                    <b> Faturalar</b>
                </span>
            </div>
            <div class="fn-button-holder">
                <button class="fn-button">
                    <i class="anticon anticon-bars"></i>
                    <span>İşlemler</span>
                </button>
                <div class="fn-dropdown">
                    <span (click)="newItem()">Yeni Fatura</span>
                </div>
            </div>
            <app-fn-grid (rowClick)="handleItem($event)" [dataSource]="dataSource" [dataFields]="dataFields"></app-fn-grid>
        </div>

        <div class="col-lg-12" *ngIf="state !== 0">
            <div class="fn-header">
                <span class="main" *ngIf="state === 1">Satışlar
                    <i class="anticon anticon-right"></i> Faturalar
                    <i class="anticon anticon-right"></i>
                    <b>Yeni Fatura</b>
                </span>
                <span class="main" *ngIf="state === 2">Satışlar
                    <i class="anticon anticon-right"></i> Faturalar
                    <i class="anticon anticon-right"></i>
                    <b>Fatura Düzenle</b>
                </span>
                <div class="fn-form-buttons">
                    <button class="fn-close" (click)="cancelOperation()">Vazgeç</button>
                    <button class="fn-ok" (click)="saveItem()">Kaydet</button>
                </div>
            </div>
            <div class="form-holder">
                <div class="col-lg-6">
                    <dx-form class="form-element" [formData]="selectedItem" labelLocation="top" [colCount]="4">
                        <dxi-item dataField="Aciklama" [colSpan]="4" [label]="{text: 'Açıklama'}"></dxi-item>
                        <dxi-item dataField="CariHesapID" [colSpan]="4" [label]="{text: 'Müşteri'}" editorType="dxSelectBox" [editorOptions]="{ items: customers, displayExpr:'Unvan', valueExpr:'ID' }"></dxi-item>
                        <dxi-item dataField="BelgeNo" [colSpan]="1" [label]="{text: 'Fatura No'}"></dxi-item>
                        <dxi-item dataField="VadeTarihi" [colSpan]="1" [label]="{text: 'Vade Tarihi'}" editorType="dxDateBox" [editorOptions]="{ width: '100%'}"></dxi-item>
                        <dxi-item dataField="OdemeDurumu" [colSpan]="2" [label]="{text: 'Tahsilat Durumu'}" editorType="dxSelectBox" [editorOptions]="{ items: paymentStates, displayExpr:'Name', valueExpr:'ID' }"></dxi-item>
                        <dxi-item itemType="group" caption="Tahsilat Bilgileri" [colSpan]="4" [colCount]="2" *ngIf="selectedItem.OdemeDurumu">
                            <dxi-item dataField="Tahsilat.EvrakTarihi" [label]="{text: 'Tahsilat Tarihi'}" editorType="dxDateBox" [editorOptions]="{ width: '100%'}"></dxi-item>
                            <dxi-item dataField="Tahsilat.HesapID" [label]="{text: 'Hesap'}" editorType="dxSelectBox" [editorOptions]="{ items: accounts, displayExpr:'HesapAdi', valueExpr:'ID' }"></dxi-item>
                        </dxi-item>
                        <dxi-item dataField="KategoriID" [colSpan]="2" [label]="{text: 'Kategori'}" editorType="dxSelectBox" [editorOptions]="{ items: categories, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
                        <dxi-item dataField="EtiketID" [colSpan]="2" [label]="{text: 'Etiket'}" editorType="dxSelectBox" [editorOptions]="{ items: tags, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
                    </dx-form>
                </div>
                <div class="fn-grid-holder">
                    <dx-data-grid id="gridContainer" [dataSource]="dataSource2" noDataText="Kayıt Bulunamadı">
                        <dxo-editing mode="cell" [allowUpdating]="true"> </dxo-editing>
                        <dxi-column dataField="Product" caption="Hizmet/Ürün"></dxi-column>
                        <dxi-column dataField="Product1" caption="Miktar"></dxi-column>
                        <dxi-column dataField="Product2" caption="Br. Fiyat"></dxi-column>
                        <dxi-column dataField="Product3" caption="Vergi"></dxi-column>
                        <dxi-column dataField="Product4" caption="Toplam"></dxi-column>
                    </dx-data-grid>
                    <div style="margin-top: 10px !important;">
                        <div class="col-lg-3 n-p">
                            <button (click)="addRow()" class="fn-button transparent">
                                <i class="anticon anticon-plus-circle-o"></i>Yeni Satır Ekle</button>
                        </div>
                        <div class="col-lg-4 col-lg-offset-5 fn-bill">
                            <div class="col-lg-12 n-p">
                                <span class="col-lg-8 n-p">Ara Toplam</span>
                                <span class="col-lg-4">0,00TL</span>
                            </div>
                            <div class="col-lg-12 n-p">
                                <span class="col-lg-8 n-p">Toplam KDV</span>
                                <span class="col-lg-4">0,00TL</span>
                            </div>
                            <div class="col-lg-12 n-p">
                                <span class="col-lg-8 n-p">Genel Toplam</span>
                                <span class="col-lg-4">0,00TL</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>