<div class="m-content">
    <div class="row">
        <div [ngClass]="{'col-md-12': !KasaGCVisible, 'col-md-9': KasaGCVisible}" id="kasabankalistesiholder" class="col-md-9">
            <div class="m-portlet m-portlet--tab" style="width:100%">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text">
                                {{Title}}
                            </h3>
                        </div>
                    </div>
                    <div class="m-portlet__head-tools">
                        <ul class="m-portlet__nav">
                            <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                                data-dropdown-toggle="hover">
                                <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
                                    Menü
                                </a>
                                <div class="m-dropdown__wrapper">
                                    <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                    <div class="m-dropdown__inner">
                                        <div class="m-dropdown__body">
                                            <div class="m-dropdown__content">
                                                <ul class="m-nav">
                                                    <li class="m-nav__section m-nav__section--first">
                                                        <span class="m-nav__section-text">
                                                            Hızlı İşlemler
                                                        </span>
                                                    </li>

                                                    <li class="m-nav__item" *ngIf="ListeTipi==='kasa'" >
                                                        <a [routerLink]="['/yenikasa']" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text">
                                                                Yeni Kasa
                                                            </span>
                                                        </a>
                                                    </li>

                                                    <li class="m-nav__item" *ngIf="ListeTipi==='banka'" >
                                                        <a routerLink="/yenibanka" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text">
                                                                Yeni Banka
                                                            </span>
                                                        </a>
                                                    </li>
                                                    
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text" (click)="TransferVisible(true,0);">
                                                                Para Girişi
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text" (click)="TransferVisible(true,1);">
                                                                Para Çıkışı
                                                            </span>
                                                        </a>
                                                    </li>
                                                    <li class="m-nav__item">
                                                        <a href="" class="m-nav__link">
                                                            <i class="m-nav__link-icon flaticon-share"></i>
                                                            <span class="m-nav__link-text" (click)="TransferVisible(true,2);">
                                                                Hesaplar Arası Transfer
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="m-portlet__body" style="padding:10px;padding-top:20px">
                    <dx-data-grid (onRowClick)="rowClick($event)" #grid id="kasabankalistesi" [dataSource]="data">
                        <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>
                        <dxo-header-filter [visible]="true"></dxo-header-filter>
                        <dxo-paging [pageSize]="15"></dxo-paging>
                        <!-- <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel> -->
                        <dxo-selection mode="single"></dxo-selection>
                        <dxi-column dataField="id" caption="Title" [width]="70"></dxi-column>
                        <dxi-column dataField="parentid"></dxi-column>
                        <dxi-column dataField="name"></dxi-column>
                        <dxi-column dataField="email" [width]="180"></dxi-column>
                        <dxi-column dataField="body" [width]="180"></dxi-column>
                    </dx-data-grid>
                </div>
            </div>
        </div>

        <div *ngIf="KasaGCVisible === true" class="col-md-3">
            <div class="m-portlet m-portlet--tab">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text">
                                {{IslemCinsiText}}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="m-portlet__body">
                    <div class="form-group m-form__group" *ngIf="KasaGCVisible === true && IslemCinsi===2" >
                        <label class="exampleInputEmail1">
                            Diğer Hesap:
                        </label>
                        <div *ngIf="ListeTipi=='kasa'" >
                            <dx-select-box [items]="KasaList" [(ngModel)]="SelectedKasa"></dx-select-box>
                        </div>
                        <div *ngIf="ListeTipi=='banka'" >
                            <dx-select-box [items]="BankaList" [(ngModel)]="SelectedBanka"></dx-select-box>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                                Tarih
                            </label>
                            <dx-date-box [(ngModel)]="AcilisTarihi" displayFormat="dd.MM.yyyy" type="date" style="width: 100% !important;">
                            </dx-date-box>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                                Meblağ
                            </label>
                            <dx-text-box [(ngModel)]="HesapAdi"></dx-text-box>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                        <div class="form-group m-form__group">
                            <label for="exampleInputEmail1">
                                Açıklama
                            </label>
                            <dx-text-box [(ngModel)]="HesapAdi"></dx-text-box>
                        </div>
                    </div>
                    <div class="form-group m-form__group" style="text-align: right;">
                        <button class="btn btn-primary">
                            Kaydet
                        </button>
                        <button class="btn btn-secondary" (click)="TransferVisible(false,0);">
                            Vazgeç
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>