<div class="m-content">
    <div class="m-portlet m-portlet--tab" style="width:100%">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <span class="m-portlet__head-icon m--hide">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="m-portlet__head-text">
                        Yeni Kasa
                    </h3>
                </div>
            </div>
            <div class="m-portlet__head-tools">
                <ul class="m-portlet__nav">
                    <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                        data-dropdown-toggle="hover">
                        <a href="#" class="m-portlet__nav-link m-dropdown__toggle dropdown-toggle btn btn--sm m-btn--pill btn-secondary m-btn m-btn--label-brand">
                            Menü
                        </a>
                        <div class="m-dropdown__wrapper">
                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                            <div class="m-dropdown__inner">
                                <div class="m-dropdown__body">
                                    <div class="m-dropdown__content">
                                        <ul class="m-nav">
                                            <li class="m-nav__section m-nav__section--first">
                                                <span class="m-nav__section-text">
                                                    Hızlı İşlemler
                                                </span>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-share"></i>
                                                    <span class="m-nav__link-text" (click)="KasaGirisEkleVisible=true;">
                                                        Para Girişi Ekle
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                    <span class="m-nav__link-text">
                                                        Messages
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-info"></i>
                                                    <span class="m-nav__link-text">
                                                        FAQ
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="m-nav__item">
                                                <a href="" class="m-nav__link">
                                                    <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                    <span class="m-nav__link-text">
                                                        Support
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="m-nav__separator m-nav__separator--fit"></li>
                                            <li class="m-nav__item">
                                                <a href="#" class="btn btn-outline-danger m-btn m-btn--pill m-btn--wide btn-sm">
                                                    Cancel
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">

            <div [ngClass]="{'col-md-12': !KasaGirisEkleVisible, 'col-md-10': KasaGirisEkleVisible}" id="kasabankalistesiholder" class="col-md-10">

                <dx-data-grid (onRowClick)="rowClick($event)" #grid id="kasabankalistesi" [dataSource]="data" style="padding: 20px;">
                    <dxo-filter-row [visible]="true" [applyFilter]="currentFilter"></dxo-filter-row>
                    <dxo-header-filter [visible]="true"></dxo-header-filter>


                    <!-- <dxo-search-panel [visible]="true" [width]="240" placeholder="Search..."></dxo-search-panel> -->
                    <dxo-selection mode="single"></dxo-selection>
                    <dxi-column dataField="id" caption="Title" [width]="70"></dxi-column>
                    <dxi-column dataField="parentid"></dxi-column>
                    <dxi-column dataField="name"></dxi-column>
                    <dxi-column dataField="email" [width]="180"></dxi-column>
                    <dxi-column dataField="body" [width]="180"></dxi-column>
                </dx-data-grid>
            </div>
            
            <div *ngIf="KasaGirisEkleVisible === true" class="col-md-2">
                    <div class="m-portlet m-portlet--tab">
                        dgtretert
                    </div>
                </div>
        </div>

        

    </div>
</div>