<div class="m-content">
    <div class="row">
        <div class="m-portlet m-portlet--tab" style="width:100%">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <span class="m-portlet__head-icon m--hide">
                            <i class="la la-gear"></i>
                        </span>
                        <h3 class="m-portlet__head-text">
                            Yeni Banka
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item m-dropdown m-dropdown--inline m-dropdown--arrow m-dropdown--align-right m-dropdown--align-push"
                            data-dropdown-toggle="hover">

                            <div class="m-form__actions">
                                <button type="reset" (click)="Kaydet()" class="btn btn-primary">
                                    Kaydet
                                </button>
                                <button type="reset" (click)="Sil()" class="btn btn-danger">
                                    Vazgeç
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-form m-form--fit m-form--label-align-left">
                <div class="m-portlet__body">
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            Hesap Adı:
                        </label>
                        <div class="col-lg-6">
                            <dx-text-box [(ngModel)]="HesapAdi"></dx-text-box>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            Döviz Cinsi:
                        </label>
                        <div class="col-lg-6">
                            <dx-select-box [items]="DovizList" [(ngModel)]="SelectedDoviz"></dx-select-box>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            Açılış Bakiyesi:
                        </label>
                        <div class="col-lg-6">
                            <dx-text-box [(ngModel)]="AcilisBakiyesi"></dx-text-box>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            Açılış Bakiyesi Tarihi:
                        </label>
                        <div class="col-lg-6">
                            <dx-date-box [(ngModel)]="AcilisTarihi" displayFormat="dd.MM.yyyy" type="date" style="width: 100% !important;">
                            </dx-date-box>
                        </div>
                    </div>
                    <div class="m-form__seperator m-form__seperator--dashed"></div>
                    <div class="form-group m-form__group row">
                        <label class="col-lg-2 col-form-label">
                            Banka İsmi:
                        </label>
                        <div class="col-lg-6">
                            <dx-text-box [(ngModel)]="HesapAdi"></dx-text-box>
                        </div>
                    </div>
                    <div class="form-group m-form__group row">
                            <label class="col-lg-2 col-form-label">
                                Banka Şubesi:
                            </label>
                            <div class="col-lg-6">
                                <dx-text-box [(ngModel)]="HesapAdi"></dx-text-box>
                            </div>
                        </div>
                        <div class="form-group m-form__group row">
                                <label class="col-lg-2 col-form-label">
                                    Hesap Numarası:
                                </label>
                                <div class="col-lg-6">
                                    <dx-text-box [(ngModel)]="HesapAdi"></dx-text-box>
                                </div>
                            </div>
                            <div class="form-group m-form__group row">
                                    <label class="col-lg-2 col-form-label">
                                        IBAN:
                                    </label>
                                    <div class="col-lg-6">
                                        <dx-text-box [(ngModel)]="HesapAdi"></dx-text-box>
                                    </div>
                                </div>
                </div>
            </div>
        </div>
    </div>