@font-face {
    font-family: 'samsungonelatin600';
    font-style: normal;
    font-weight: normal;
    src: local('samsungonelatin600'), url('assets/SamsungOneLatin-600.woff');
}

@font-face {
    font-family: 'Samsung Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sans Regular'), url('./assets/SamsungSans-Regular.woff');
}

html {
    float: left;
    width: 100vw;
    height: 100%;
    font-size: 15px !important;
}

body {
    padding: 0;
    margin: 0;
    float: left;
    width: 100vw;
    height: 100%;
    font-family: 'Samsung Sans Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.dx-widget {
    font-family: 'Samsung Sans Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
}

::-webkit-scrollbar-thumb:hover {
    width: 7px;
}

.n-p {
    padding: 0 !important;
    margin: 0 !important;
}

.fn-container {
    padding: 0 !important;
    overflow: hidden;
    border-radius: 0;
}

.fn-container .form-element {
    padding: 15px 0 15px 0;
    background: rgb(255, 255, 255);
    margin-top: 0;
}

.dx-datagrid-rowsview .dx-row > td.dx-master-detail-cell{
    padding: 0;
}

.form-element.inline{
    padding: 15px 30px 15px 0;
    background: rgba(255, 255, 255, 0);
}

.form-element.inline .dx-layout-manager .dx-field-item{
    padding-top: 5px;
}

.fn-container .form-element .dx-form-group-with-caption.dx-form-group {
    background: rgb(244, 244, 244);
    padding: 20px;
}

.fn-container .form-element .dx-item.dx-box-item {
    margin-bottom: 6px;
}

.fn-container .form-element .dx-field-item-label-text {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 600;
}

.fn-container .form-element .dx-field-item-label-location-top {
    margin-bottom: 8px;
}

.fn-container .form-side {
    padding: 0;
    background: rgba(0, 0, 0, 0.04);
    padding-bottom: 100%;
    margin-bottom: -100%;
    border-left: 1px solid rgb(235, 235, 235);
}

.fn-container .form-side button {
    width: 100%;
    border-radius: 0;
    background: transparent;
    border-color: transparent;
    color: rgb(3, 169, 244);
    font-size: 1.2rem;
    font-weight: 600;
    height: 44px;
    line-height: 44px;
    margin-bottom: 10px;
}

.fn-container .form-side button.save {
    background: linear-gradient(to right, rgb(33, 190, 252), rgb(94, 115, 234));
    border: none;
    color: rgb(255, 255, 255);
}

.fn-container .form-bottom {
    padding: 0 15px 30px 15px !important;
    background: rgb(255, 255, 255);
    height: calc(100vh - 190px);
    border-left: 3px dashed rgb(201, 201, 201);
}

.fn-container .fn-grid {
    padding: 0;
}

.fn-type-holder {
    display: table;
}

.fn-type {
    display: table-row;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    border: 3px dashed rgb(221, 221, 221);
    color: rgb(129, 129, 129);
    margin-bottom: 20px;
    height: 161px;
    font-size: 1.5rem;
    transition: all cubic-bezier(.62, .28, .23, .99) 0.3s;
}

.fn-type i {
    font-size: 3rem;
    margin-top: -20px;
    width: 100%;
}

.fn-type:last-child {
    margin-right: 0;
}

.fn-type:hover {
    background: rgb(255, 255, 255);
    border: 3px dashed rgb(255, 255, 255);
    color: rgb(33, 150, 243);
    box-shadow: 0 0 16px -9px black;
}

.fn-info .dx-datagrid {
    color: rgb(37, 40, 52);
}

.fn-info .dx-datagrid-headers.dx-datagrid-nowrap {
    color: rgb(37, 40, 52);
}

.fn-info .dx-datagrid-summary-item {
    color: rgb(37, 40, 52);
}

.fn-info .dx-datagrid-total-footer .dx-datagrid-content.dx-datagrid-scroll-container td {
    border-bottom: none;
}

.dx-datagrid-headers.dx-datagrid-nowrap {
    border-bottom: none;
    font-size: 1rem;
    color: black;
    font-weight: 600;
}

.dx-datagrid-rowsview {
    border-top: none;
}

.dx-datagrid-content .dx-datagrid-table .dx-row>td, .dx-datagrid-content .dx-datagrid-table .dx-row>tr>td {
    border-bottom: 1px solid rgb(232, 234, 235);
    border-left: none;
    border-right: none;
}

.dx-datagrid-headers .dx-datagrid-table .dx-row>td {
    border-left: none;
    border-right: none;
}

.fn-button {
    padding: 6px 20px;
    background: rgba(0, 0, 0, 0);
    background: linear-gradient(45deg, rgb(139, 98, 255), rgb(10, 141, 255));
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.2rem;
    outline: none;
    margin-right: 0;
    border-radius: 20px;
    border: none;
    transition: all cubic-bezier(.62, .28, .23, .99) 0.3s;
}

.fn-button:hover {
    box-shadow: 0 0 16px -9px black;
}

.fn-button i {
    position: relative;
    top: 0;
    margin-right: 5px;
}

.fn-button span {
    display: inline-block;
}

.fn-button.transparent {
    padding: 10px 0;
    box-shadow: none;
    border: none;
    background: rgba(0, 0, 0, 0);
    color: rgb(33, 150, 243);
    font-weight: 500;
    text-align: left;
    margin-left: 20px;
    height: auto;
    font-size: 1.2rem;
}

.fn-button.transparent i {
    margin-right: 10px;
    font-size: 1.5rem;
    width: auto;
}

.fn-bill {
    border-left: 1px solid #ddd;
    font-size: 1rem;
    margin-top: 15px;
}

.fn-form-header {
    padding: 0;
    font-size: 1.2rem;
    margin-bottom: 15px;
    margin-left: 30px;
    width: calc(100% - 60px);
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
    height: 65px;
}

.fn-form-buttons {
    margin-top: -2px;
    float: left;
}

.fn-form-buttons button {
    outline: none;
    border: none;
    font-size: 1.2rem;
}

.fn-form-buttons .fn-close {
    background: transparent;
    color: rgb(146, 146, 146);
    padding: 6px 20px;
}

.fn-form-buttons .fn-ok {
    padding: 6px 20px;
    background: linear-gradient(45deg, rgb(139, 98, 255), rgb(10, 141, 255));
    position: relative;
    color: rgb(255, 255, 255);
    text-align: center;
    outline: none;
    margin-right: 0;
    border-radius: 20px;
    transition: all cubic-bezier(.62, .28, .23, .99) 0.3s;
}

.fn-left-side {
    height: 100vh;
}

.fn-right-side {
    margin-top: 5px;
    padding-top: 0;
}

.fn-info {
    background: rgb(250, 250, 250);
    white-space: 1px solid rgb(232, 234, 235);
    padding: 16px 10px !important;
    border-radius: 0;
    height: 100%;
}

.fn-info>span {
    font-size: 1.5rem;
    margin-left: 30px;
    font-weight: 700;
    margin-bottom: 17px;
    display: inline-block;
    color: rgb(37, 40, 52);
}

.fn-header {
    user-select: none;
    margin-top: 58px;
    width: 100%;
    padding-left: 50px;
    float: left;
    position: relative;
}

.main-area .fn-header {
    width: auto;
}

.main-area .dx-datagrid-headers {
    margin-top: 13px;
}

.fn-header span {
    float: left;
}

.fn-header span.main {
    font-size: 1.5rem;
    font-weight: 100;
    color: rgb(27, 38, 52);
    width: auto;
    margin-bottom: 0;
}

.fn-header span.main b {
    font-weight: 900;
}

.fn-header span.main i {
    font-size: 1.2rem;
    padding: 0;
}

.fn-right-side>.col-lg-12:not(.fn-info) {
    margin-bottom: 15px;
}

.background {
    position: absolute;
    opacity: 1;
    width: 125vw;
    height: 75vw;
    background: radial-gradient(rgb(0, 223, 253), rgb(181, 20, 251));
    border-radius: 100%;
    right: -50vw;
    top: -35.5vw;
    -webkit-filter: drop-shadow(-5px -5px 33px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(-5px -5px 33px rgba(0, 0, 0, 0.2));
}

div.dx-datagrid-header-panel {
    overflow: visible;
    border-bottom: none;
}

.dx-datagrid-total-footer {
    border-top: none !important;
}

.dx-datagrid-header-panel .dx-toolbar .dx-texteditor {
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgb(221, 221, 221);
    width: 290px !important;
    margin-top: 21px;
}

div.dx-searchbox .dx-icon-search {
    font: unset;
    font-family: anticon!important;
    position: absolute;
    top: 22px;
    left: 0;
    height: 50px;
    padding: 0;
    text-align: center;
    line-height: 30px;
    font-size: 1.5rem;
    color: rgb(128, 128, 128);
}

.dx-searchbox .dx-icon-search:before {
    content: "\e670" !important;
}

.dx-datagrid-header-panel .dx-texteditor {
    border: none;
}

.dx-datagrid-header-panel div.dx-toolbar {
    margin-bottom: 40px;
    background-color: transparent;
}

.dx-datagrid-header-panel .dx-texteditor .dx-texteditor-input {
    border-radius: 0;
    background: rgba(0, 0, 0, 0);
    border: none;
    height: 40px;
    padding-left: 50px;
    font-size: 1.5rem;
    color: rgb(128, 128, 128);
}

.dx-texteditor-container {
    height: 55px;
}

.dx-datagrid-search-panel .dx-texteditor-container .dx-placeholder {
    top: -2px;
    left: 15px;
    line-height: 30px;
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.23);
}

.dx-datagrid.dx-gridbase-container {
    padding: 0 20px;
    background-color: transparent;
}

.form-bottom .dx-datagrid.dx-gridbase-container {
    box-shadow: unset;
    height: auto;
}

.dx-datagrid .dx-row.dx-data-row.dx-column-lines td {
    transition: background cubic-bezier(.62, .28, .23, .99) 0.3s;
}

.dx-datagrid .dx-row.dx-data-row.dx-column-lines:hover td {
    background: rgb(242, 242, 242);
}

.fn-form-header+div {
    margin-bottom: 10px;
}

.form-holder {
    display: flex;
}

.form-holder>div {
    flex: 1 1;
    max-width: 50%;
}

.fn-grid-holder {
    margin-top: 8px;
    margin-bottom: 50px;
    float: left;
    width: 100%;
}

.fn-button-holder {
    position: relative;
    z-index: 99999;
    padding-left: 20px;
    top: 56px;
    width: 200px;
    float: left;
}

.fn-button-holder button:focus+.fn-dropdown, .fn-dropdown:hover {
    pointer-events: all;
    opacity: 1;
    top: 53px;
}

.fn-dropdown {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 16px 3px rgba(0, 0, 0, 0.05);
    padding: 15px 25px 15px 15px;
    position: absolute;
    pointer-events: none;
    top: 40px;
    min-width: 139px;
    opacity: 0;
    transition: all cubic-bezier(.62, .28, .23, .99) 0.3s;
}

.fn-dropdown span {
    display: block;
    padding: 5px 0;
    cursor: pointer;
}

.fn-dropdown span:hover {
    display: block;
    padding: 5px 0;
    cursor: pointer;
    color: rgb(10, 141, 255);
}

@keyframes topin {
    0% {
        opacity: 0;
        top: -100vh;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

.main-area {
    position: relative;
    animation: topin cubic-bezier(.62, .28, .23, .99) 0.5s 1;
}

/* menu css */

#logo-area {
    display: inline-block;
    height: 56px;
    width: 100%;
    margin-top: 25px;
}

#logo-area img {
    width: 35px;
    margin-left: 12px;
    margin-top: 10px;
}

#logo-area span {
    font-size: 1.6rem;
    position: relative;
    top: 10px;
    left: 5px;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

#menu-area {
    display: inline-block;
    max-height: calc(100% - 230px);
    width: 100%;
    overflow-y: auto;
    margin-top: 12px;
}

#menu-area .anticon {
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    font-weight: 600;
    margin-right: -10px;
    position: relative;
    top: -1px;
    left: -12px;
    transition: cubic-bezier(.62, .28, .23, .99) 0.3s;
}

#menu-area ul {
    padding: 0;
    list-style: none;
    font-size: 1.2rem;
    color: white;
    pointer-events: all;
    cursor: pointer;
    line-height: calc(100% + 15px);
    user-select: none;
}

#menu-area ul li {
    padding: 0 15px 0 20px;
    line-height: 35px;
    outline: none;
    transition: cubic-bezier(.62, .28, .23, .99) 0.3s;
}

#menu-area ul li.head {
    line-height: 50px;
}

#menu-area ul li:hover {
    background: rgba(0, 0, 0, 0.3);
    color: rgb(3, 169, 244);
}

#menu-area ul li:hover i {
    color: rgb(3, 169, 244);
}

#menu-area .sub-menu {
    opacity: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.3);
    transition: opacity cubic-bezier(.62, .28, .23, .99) 0.3s;
    font-size: 1rem;
}

#menu-area .sub-menu li {
    display: none;
    margin-bottom: 0;
}

#menu-area .sub-menu.active {
    opacity: 1;
    height: auto;
    padding: 0;
}

#menu-area .sub-menu.active li {
    display: block;
}

.finuans-pos {
    height: 45px;
    width: calc(100% - 40px);
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    border: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 18px #000000a6;
    box-shadow: 0px 2px 11px 0 rgba(0, 0, 0, 0.35);
    outline: none;
    background: linear-gradient(45deg, rgb(139, 98, 255), rgb(10, 141, 255));
    transition: all cubic-bezier(.62, .28, .23, .99) 0.3s;
}

.finuans-pos:hover span.holder {
    background: transparent;
}

.finuans-pos:hover span.holder span {
    background: transparent;
    color: white;
}

.finuans-pos span {
    line-height: 37px;
    width: 100%;
    display: inline-block;
}

#footer-area {
    display: inline-block;
    height: 30px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

#footer-area .version {
    text-align: center;
    font-size: 1rem;
    line-height: 30px;
    width: 100%;
    display: inline-block;
    color: rgba(255, 255, 255, 0.1);
}

/* menu css END */

/* FinuansWeb css */

#menu {
    float: left;
    width: 280px;
    background: linear-gradient(45deg, rgb(31, 31, 31), rgb(37, 40, 52));
    box-shadow: 0 0 44px 3px #00000069;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.19), 6px 6px 6px rgba(0, 0, 0, 0.23);
    height: calc(100% - 40px);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    position: relative;
    z-index: 1;
    position: relative;
    /* left: 10px; */
    margin-left: 10px;
    top: 20px;
    -webkit-animation: leftin cubic-bezier(.62, .28, .23, .99) 0.5s 1;
    animation: leftin cubic-bezier(.62, .28, .23, .99) 0.5s 1;
}

@keyframes leftin {
    0% {
        opacity: 0;
        left: -150px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

#pages {
    float: left;
    width: calc(100vw - 290px);
    height: 100%;
    padding: 0 20px;
}

.edit-area {
    float: left;
    width: 100%;
    margin-top: 22px;
    border-radius: 8px;
    padding-top: 36px;
    padding-bottom: 18px;
    background: rgb(255, 255, 255);
}

.edit-area .form-holder {
    float: left;
    padding: 0 35px;
}

.edit-area .fn-grid-holder {
    padding: 0 35px;
}

.edit-area .fn-header {
    margin-top: 0;
}

/* FinuansWeb css END */

@media(max-width: 1601px) {
    html {
        font-size: 13px !important;
    }
    #menu {
        width: 215px;
    }
    #logo-area {
        margin-top: 5px;
    }
    #menu-area {
        margin-top: 0;
    }
    #menu-area ul li.head {
        line-height: 35px;
    }
    #pages {
        width: calc(100vw - 225px);
    }
    .finuans-pos {
        height: 40px;
    }
}

@media(max-width: 1381px) {
    html {
        font-size: 13px !important;
    }
    .fn-header {
        margin-top: 40px;
    }
    .fn-button-holder {
        top: 38px;
    }
    .dx-datagrid-header-panel .dx-toolbar .dx-texteditor {
        margin-top: 0;
    }
    .dx-datagrid-header-panel div.dx-toolbar {
        margin-bottom: 15px;
    }
}

@media(max-width: 1030px) {
    html {
        font-size: 12px !important;
    }
    #pages {
        padding: 0 15px 0 0;
    }
    .fn-header {
        padding-left: 30px;
    }
}