<div id="invoice" class="col-lg-3">
  <div class="invoice-head">
    <i class="anticon anticon-profile"></i>
    <span>FİŞ</span>
  </div>
  <dx-data-grid id="gridContainer" class="fn-grid" (onRowClick)="onRowClick($event)" [dataSource]="dataSource" [rowAlternationEnabled]="true"
    noDataText="  ">
    <dxi-column dataField="Miktar" caption="Miktar" cellTemplate="cellTemplate"></dxi-column>
    <div *dxTemplate="let item of 'cellTemplate'">
      <span>{{item.data.Miktar}} {{item.data.MiktarTip}} </span>
    </div>
    <dxi-column dataField="Urun" caption="Ürün"></dxi-column>
    <dxi-column dataField="KDV" caption="KDV"></dxi-column>
    <dxi-column dataField="Fiyat" caption="Fiyat" cellTemplate="cellTemplate2"></dxi-column>
    <div *dxTemplate="let item of 'cellTemplate2'">
      <span>{{item.data.Fiyat*item.data.Miktar}} TL</span>
    </div>
  </dx-data-grid>
</div>
<div class="col-lg-9 fn-pos-right">
  <div id="header" class="col-lg-12">
    <div *ngIf="actionItem">
      <span>{{actionItem.Miktar + " " + actionItem.MiktarTip}}</span>
      <span>{{actionItem.Urun}}</span>
      <span>{{actionItem.Fiyat*actionItem.Miktar}} TL</span>
    </div>
    <button class="closePOS" (click)="closePOS()">
      <i class="anticon anticon-close"></i>
    </button>
  </div>
  <div id="smartItems" class="col-lg-12">
    <dx-tab-panel #tabPanel [dataSource]="smartItems" [selectedIndex]="0" [loop]="false" [animationEnabled]="true" [swipeEnabled]="true">
      <div *dxTemplate="let tab of 'title'">
        <span>{{tab.Name}}</span>
      </div>
      <div *dxTemplate="let element of 'item'">
        <div class="tabpanel-item">
          <div *ngFor="let product of element.Elements" class="product" (click)="addItem(product)">{{product.Urun}}</div>
        </div>
      </div>
    </dx-tab-panel>
  </div>
  <div id="actions" class="col-lg-7">
    <button (click)="moveUp()">
      <i class="anticon anticon-up-circle"></i>
    </button>
    <button (click)="showPendings()">Askıdaki
      <br>İşlemler
      <span class="mini" *ngIf="pendingList.length">{{pendingList.length}}</span>
    </button>
    <button>Müşteri
      <br>Listesi</button>
    <button>Ürün
      <br>Listesi</button>
    <button>Fiyat
      <br>Gör</button>
    <button (click)="moveDown()">
      <i class="anticon anticon-down-circle"></i>
    </button>
    <button (click)="addToPendings()">Askıya
      <br>Al</button>
    <button>Belge
      <br>Tekrarı</button>
    <button (click)="cancelDoc()">Belge
      <br>İptal</button>
    <button (click)="removeRow()">Satır
      <br>İptal</button>
    <button>İşlemler</button>
    <button>Satıcı
      <br>Seçimi</button>
    <button>Masalar</button>
    <button>Kasa
      <br>Çıkış</button>
    <button>Kasa
      <br>Giriş</button>
    <button>OKC
      <br>Ayarları</button>
    <button>Ürün
      <br>Tekrar</button>
    <button>Ödeme</button>
    <button>Tahsilat</button>
    <button>Ara
      <br>Toplam</button>
    <button></button>
    <button></button>
    <button>Puan</button>
    <button>Kredi
      <br>Kartı</button>
    <button>Nakit</button>
  </div>
  <div id="numPad" class="col-lg-5">
    <button (click)="multiply(7)">7</button>
    <button (click)="multiply(8)">8</button>
    <button (click)="multiply(9)">9</button>
    <button (click)="multiply(4)">4</button>
    <button (click)="multiply(5)">5</button>
    <button (click)="multiply(6)">6</button>
    <button (click)="multiply(1)">1</button>
    <button (click)="multiply(2)">2</button>
    <button (click)="multiply(3)">3</button>
    <button (click)="multiply(0)">0</button>
    <button (click)="multiply(00)">00</button>
    <button (click)="acceptItem()">ONAY</button>
    <button>,</button>
    <button>
      <i class="anticon anticon-left-circle"></i>
    </button>
    <button>X</button>
  </div>
</div>

<dx-popup class="popup" [width]="600" [height]="250" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <p class="popupText">
      {{popupText}}
    </p>
    <button class="actionButton" (click)="continueAction()">EVET</button>
  </div>
</dx-popup>

<dx-popup class="popup" [width]="900" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="pendingItemsPopup">
  <div *dxTemplate="let data of 'content'">
    <div #state *ngIf="pendingList.length > 0">
      <div class="col-lg-6">
        <span class="popupHead">Askıdaki İşlemler</span>
        <ul class="popupList">
          <li *ngFor="let item of pendingList; let i = index" [class.active]="selectedtedPendingItem == i" (click)="pendingItemDetail = item.Data; selectedtedPendingItem = i;">{{item.Name}} <i *ngIf="selectedtedPendingItem == i" class="anticon anticon-check-circle"></i></li>
        </ul>
      </div>
      <div class="col-lg-6" *ngIf="pendingItemDetail">
        <span class="popupHead">İşlem Detayları</span>
        <ul class="popupList light">
          <li *ngFor="let item of pendingItemDetail">{{item.Miktar}} {{item.MiktarTip}} - {{item.Urun}}</li>
        </ul>
      </div>
    </div>
    <div *ngIf="pendingList.length < 1">
        <span class="popupHead">Hiç askıda işlem bulunmamaktadır.</span>
    </div>
    <button *ngIf="pendingItemDetail" class="actionButton" (click)="continueFromPending()">SEÇİLİ İŞLEMİ GETİR</button>
  </div>
</dx-popup>