<div class="main">
  <div id="invoice" class="col-lg-3">
    <div class="invoice-head">
      <input #barkodInput type="text" class="barcodeInput" placeholder="Barkod" [(value)]="barkodValue" autofocus>
      <span>FİŞ</span>
    </div>
    <dx-data-grid #invoiceTable id="gridContainer" class="fn-grid" [dataSource]="dataSource" [rowAlternationEnabled]="true" noDataText="  ">
      <dxo-selection mode="single"></dxo-selection>
      <dxi-column dataField="Miktar" caption="Miktar"></dxi-column>
      <dxi-column dataField="Birim" caption="Birim"></dxi-column>
      <dxi-column dataField="Urun" caption="Ürün"></dxi-column>
      <dxi-column dataField="Fiyat" caption="Fiyat"></dxi-column>
      <dxi-column dataField="Tutar" caption="Tutar"></dxi-column>
    </dx-data-grid>
  </div>

  <div class="col-lg-9 fn-pos-right">
    <div id="header" class="col-lg-12">
      <div *ngIf="neonLights">
        <span *ngIf="neonLights.Miktar">{{neonLights.Miktar + " "}}
          <span *ngIf="neonLights.Birim">{{neonLights.Birim}}</span>
        </span>
        <span *ngIf="neonLights.Urun">{{neonLights.Urun}}</span>
        <span *ngIf="neonLights.Tutar">{{neonLights.Tutar}} TL</span>
      </div>
      <button class="closePOS" (click)="closePOS()">
        <i class="anticon anticon-close"></i>
      </button>
    </div>
    <div id="smartItems" class="col-lg-12">
      <dx-tab-panel #tabPanel [dataSource]="tabs" [selectedIndex]="0" [loop]="false" [animationEnabled]="true" [swipeEnabled]="true">
        <div *dxTemplate="let tab of 'title'">
          <span>{{tab.Adi}}</span>
        </div>
        <div *dxTemplate="let element of 'item'">
          <div class="tabpanel-item">
            <div *ngFor="let product of smartItems[element.ID]" class="product" (click)="addSmartItem(product)">{{product.Adi}}</div>
          </div>
        </div>
      </dx-tab-panel>
    </div>
    <div id="actions" class="col-lg-7">
      <button (click)="moveUp()">
        <i class="anticon anticon-up-circle"></i>
      </button>
      <button (click)="showItems('Bekleyen')">Askıdaki
        <br>İşlemler
        <!-- <span class="mini" *ngIf="pendingItems.length">{{pendingItems.length}}</span> -->
      </button>
      <button (click)="itemsListPopup = true;filterValue=''; filterTitle = 'Müşteri Listesi'">Müşteri
        <br>Listesi</button>
      <button (click)="itemsListPopup = true;filterValue=''; filterTitle = 'Ürün Listesi'">Ürün
        <br>Listesi</button>
      <button (click)="seekItem = true">Fiyat
        <br>Gör</button>
      <button (click)="moveDown()">
        <i class="anticon anticon-down-circle"></i>
      </button>
      <button (click)="addToPendings()">Askıya
        <br>Al</button>
      <button (click)="showItems('')">Belge
        <br>Tekrarı</button>
      <button (click)="cancelDocument()">Belge
        <br>İptal</button>
      <button (click)="removeRow()">Satır
        <br>İptal</button>
      <button>İşlemler</button>
      <button>Satıcı
        <br>Seçimi</button>
      <button>Masalar</button>
      <button>Kasa
        <br>Çıkış</button>
      <button>Kasa
        <br>Giriş</button>
      <button>OKC
        <br>Ayarları</button>
      <button (click)="repeatLastItem()">Ürün
        <br>Tekrar</button>
      <button>Ödeme</button>
      <button>Tahsilat</button>
      <button>Ara
        <br>Toplam</button>
      <!-- <button *ngIf="paymentTypes.length == 1"></button>
            <button *ngIf="paymentTypes.length == 1 || paymentTypes.length == 2"></button>
            <button *ngIf="paymentTypes.length == 1 || paymentTypes.length == 2 || paymentTypes.length == 3"></button>
            <button *ngIf="paymentTypes.length == 1 || paymentTypes.length == 2 || paymentTypes.length == 3 || paymentTypes.length == 4"></button> -->
      <button *ngFor="let item of paymentTypes">{{item.Adi}}</button>
    </div>
    <div id="numPad" class="col-lg-5">
      <button (click)="math('7')">7</button>
      <button (click)="math('8')">8</button>
      <button (click)="math('9')">9</button>
      <button (click)="math('4')">4</button>
      <button (click)="math('5')">5</button>
      <button (click)="math('6')">6</button>
      <button (click)="math('1')">1</button>
      <button (click)="math('2')">2</button>
      <button (click)="math('3')">3</button>
      <button (click)="math('0')">0</button>
      <button (click)="math('00')">00</button>
      <button (click)="addBarkodItem()">ONAY</button>
      <button>,</button>
      <button (click)="removeLastCharFromBarkod()">
        <i class="anticon anticon-left-circle"></i>
      </button>
      <button (click)="math('*')">X</button>
    </div>
    <div class="col-lg-12 fn-pos-footer">
      <div class="col-lg-8" *ngIf="currentCustomer">
        <span class="col-lg-2" style="text-align: center;">{{currentCustomer.Unvani}}</span>
        <span class="col-lg-2" style="text-align: center;">{{currentCustomer.VergiDaire}}</span>
        <span class="col-lg-2" style="text-align: center;">{{currentCustomer.VergiNo}}</span>
        <span class="col-lg-2" style="text-align: center;">
          <span>E-Fatura:</span>
          <i class="anticon" [ngClass]="{'anticon-check-circle': currentCustomer.EFatura, 'anticon-close-circle': !currentCustomer.EFatura}"></i>
        </span>
        <span class="col-lg-2" style="text-align: center;">
          <span>E-Arşiv:</span>
          <i class="anticon" [ngClass]="{'anticon-check-circle': currentCustomer.EArsiv, 'anticon-close-circle': !currentCustomer.EArsiv}"></i>
        </span>
        <span class="col-lg-2" style="text-align: center;">{{currentCustomer.IndirimOrani}}%</span>
      </div>
      <div class="col-lg-4" [ngClass]="{'col-lg-offset-8': !currentCustomer}">
        <span class="col-lg-6" style="text-align: center;">Test User</span>
        <span class="col-lg-6" style="text-align: center;">Bağlantı Var</span>
      </div>
    </div>
  </div>
</div>

<dx-popup class="popup" [width]="600" [height]="250" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="popupVisible">
  <div *dxTemplate="let data of 'content'">
    <p class="popupText">
      {{popupText}}
    </p>
    <button *ngIf="popupButton" class="actionButton" (click)="pendingAction()">EVET</button>
  </div>
</dx-popup>

<dx-popup class="fn-items-list-popup" [width]="900" [dragEnabled]="false" title="{{filterTitle}}" [closeOnOutsideClick]="true"
  [(visible)]="itemsListPopup">
  <div *dxTemplate="let data of 'content'">
    <div style="position: relative; height:100%">
      <div class="fn-filter-holder">
        <input #filterText type="text" [(ngModel)]="filterValue">
        <button (click)="searchItems()">ARA</button>
      </div>
      <div style="margin-top: 20px" class="popup-grid-holder">
        <dx-data-grid [dataSource]="filterResult" [rowAlternationEnabled]="true" noDataText="  " (onRowClick)="selectItem($event)"
          style="height:100%">
          <dxo-scrolling mode="infinite"></dxo-scrolling>
          <div *ngIf="filterTitle == 'Ürün Listesi'">
            <dxi-column dataField="Barkod" caption="Barkod"></dxi-column>
            <dxi-column dataField="Adi" caption="Adı"></dxi-column>
            <dxi-column dataField="Fiyat" caption="Fiyat"></dxi-column>
          </div>
          <div *ngIf="filterTitle == 'Müşteri Listesi'">
            <dxi-column dataField="Unvani" caption="Unvanı"></dxi-column>
            <dxi-column dataField="Sehir" caption="Şehir"></dxi-column>
            <dxi-column dataField="Adres" caption="Adres"></dxi-column>
          </div>
        </dx-data-grid>
      </div>
      <div class="fn-keyboard-holder">
        <button (click)="keyboardAction('1')">1</button>
        <button (click)="keyboardAction('2')">2</button>
        <button (click)="keyboardAction('3')">3</button>
        <button (click)="keyboardAction('4')">4</button>
        <button (click)="keyboardAction('5')">5</button>
        <button (click)="keyboardAction('6')">6</button>
        <button (click)="keyboardAction('7')">7</button>
        <button (click)="keyboardAction('8')">8</button>
        <button (click)="keyboardAction('9')">9</button>
        <button (click)="keyboardAction('0')">0</button>
        <button (click)="keyboardAction('.')">.</button>
        <button (click)="keyboardAction(',')">,</button>
        <button class="fn-colored" (click)="removeLastFilter()">
          <i class="anticon anticon-left-circle-o"></i>
        </button>
        <button (click)="keyboardAction('Q')">Q</button>
        <button (click)="keyboardAction('W')">W</button>
        <button (click)="keyboardAction('E')">E</button>
        <button (click)="keyboardAction('R')">R</button>
        <button (click)="keyboardAction('T')">T</button>
        <button (click)="keyboardAction('Y')">Y</button>
        <button (click)="keyboardAction('U')">U</button>
        <button (click)="keyboardAction('I')">I</button>
        <button (click)="keyboardAction('O')">O</button>
        <button (click)="keyboardAction('P')">P</button>
        <button (click)="keyboardAction('Ğ')">Ğ</button>
        <button (click)="keyboardAction('Ü')">Ü</button>
        <button class="fn-colored" (click)="filterValue=''">
          <i class="anticon anticon-close-circle-o"></i>
        </button>
        <button (click)="keyboardAction('A')">A</button>
        <button (click)="keyboardAction('S')">S</button>
        <button (click)="keyboardAction('D')">D</button>
        <button (click)="keyboardAction('F')">F</button>
        <button (click)="keyboardAction('G')">G</button>
        <button (click)="keyboardAction('H')">H</button>
        <button (click)="keyboardAction('J')">J</button>
        <button (click)="keyboardAction('K')">K</button>
        <button (click)="keyboardAction('L')">L</button>
        <button (click)="keyboardAction('Ş')">Ş</button>
        <button (click)="keyboardAction('İ')">İ</button>
        <button class="fn-two-times" (click)="handleFilter()">
          <i class="anticon anticon-check-circle-o"></i>ONAYLA</button>
        <button (click)="keyboardAction('Z')">Z</button>
        <button (click)="keyboardAction('X')">X</button>
        <button (click)="keyboardAction('C')">C</button>
        <button (click)="keyboardAction('V')">V</button>
        <button (click)="keyboardAction('B')">B</button>
        <button (click)="keyboardAction(' ')" class="fn-four-times">SPACE</button>
        <button (click)="keyboardAction('N')">N</button>
        <button (click)="keyboardAction('M')">M</button>
        <button (click)="keyboardAction('Ö')">Ö</button>
        <button (click)="keyboardAction('Ç')">Ç</button>
      </div>
    </div>
  </div>
</dx-popup>


<dx-popup class="popup" [width]="900" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="pendingItemsPopup">
  <div *dxTemplate="let data of 'content'">
    <div #state *ngIf="pendingItems.length > 0">
      <div class="col-lg-6">
        <span class="popupHead">Askıdaki İşlemler</span>
        <ul class="popupList">
          <li *ngFor="let item of pendingItems; let i = index" [class.active]="selectedtedPendingItem == i" (click)="viewItemDetail(item.ReferansNo); selectedtedPendingItem = i;">
            {{item.Tarih}} 
            <span *ngIf="item.Musteri">{{" - " + item.Musteri}}</span> 
            <span *ngIf="item.ToplamSatirSayisi">{{" - Ürün Sayısı: " + item.ToplamSatirSayisi}}</span>
            <i *ngIf="selectedtedPendingItem == i" class="anticon anticon-check-circle"></i>
          </li>
        </ul>
      </div>
      <div class="col-lg-6" *ngIf="pendingItemDetail">
        <span class="popupHead">İşlem Detayları</span>
        <ul class="popupList light">
          <li *ngFor="let item of pendingItemDetail">
            <span style="float: left; margin-right:5px;">{{item.Barkodu}} </span> 
            <span class="fn-dots" style="max-width:100px"> {{" " + item.UrunAdi}}</span> 
            <span> - {{item.Miktar + " " + item.BirimAdi}}</span></li>
        </ul>
      </div>
    </div>
    <div *ngIf="pendingItems.length < 1">
        <span class="popupHead">Hiç askıda işlem bulunmamaktadır.</span>
    </div>
    <button *ngIf="pendingItemDetail" class="actionButton" (click)="continueFromPending()">SEÇİLİ İŞLEMİ GETİR</button>
  </div>
</dx-popup>


<!--
  <dx-popup class="popup" [width]="900" [dragEnabled]="false" [closeOnOutsideClick]="true" [(visible)]="pendingItemsPopup">
  <div *dxTemplate="let data of 'content'">
    <div #state *ngIf="pendingList.length > 0">
      <div class="col-lg-6">
        <span class="popupHead">Askıdaki İşlemler</span>
        <ul class="popupList">
          <li *ngFor="let item of pendingList; let i = index" [class.active]="selectedtedPendingItem == i" (click)="pendingItemDetail = item.Data; selectedtedPendingItem = i;">{{item.Name}} <i *ngIf="selectedtedPendingItem == i" class="anticon anticon-check-circle"></i></li>
        </ul>
      </div>
      <div class="col-lg-6" *ngIf="pendingItemDetail">
        <span class="popupHead">İşlem Detayları</span>
        <ul class="popupList light">
          <li *ngFor="let item of pendingItemDetail">{{item.Miktar}} {{item.MiktarTip}} - {{item.Urun}}</li>
        </ul>
      </div>
    </div>
    <div *ngIf="pendingList.length < 1">
        <span class="popupHead">Hiç askıda işlem bulunmamaktadır.</span>
    </div>
    <button *ngIf="pendingItemDetail" class="actionButton" (click)="continueFromPending()">SEÇİLİ İŞLEMİ GETİR</button>
  </div>
</dx-popup> -->