<div #stateHolder>
  <div class="col-lg-12 n-p fn-container">
    <div class="col-lg-12 main-area" [hidden]="state !== 0 || !dataSource">
      <app-fn-main title="Giderler" [actions]="actions" [dataFields]="dataFields" [dataSource]="dataSource" (rowClick)="handleGridAction($event)"
        (actionClick)="handleNewAction($event)"></app-fn-main>
    </div>

    <div class="col-lg-12" *ngIf="state === 1">
      <app-fn-form *ngIf="stateType == 'FIS'" inheritTitle="Giderler" newTitle="Yeni Fatura/Fiş" editTitle="Fatura/Fiş Düzenle" (onSave)="saveForm(form)" (onCancel)="cancelForm()">
        <div class="col-lg-6">
          <dx-form #form class="form-element" [formData]="selectedItem" labelLocation="top" [colCount]="4">
            <dxi-item dataField="Aciklama" [colSpan]="4" [label]="{text: 'Açıklama'}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="CariHesapID" [colSpan]="4" [label]="{text: 'Müşteri'}" editorType="dxSelectBox" [editorOptions]="{ items: customers, displayExpr:'Unvan', valueExpr:'ID' }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="BelgeNo" [colSpan]="4" [label]="{text: 'Fatura No'}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="OdemeDurumu" [colSpan]="2" [label]="{text: 'Tahsilat Durumu'}" editorType="dxSelectBox" [editorOptions]="{ items: paymentStates, displayExpr:'Name', valueExpr:'ID', value:0 }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="VadeTarihi" [colSpan]="2" [label]="{text: 'Vade Tarihi'}" editorType="dxDateBox" [editorOptions]="{ width: '100%', value:defaultDate}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item itemType="group" caption="Tahsilat Bilgileri" [colSpan]="4" [colCount]="2" *ngIf="selectedItem && selectedItem.OdemeDurumu">
              <dxi-item dataField="Tahsilat.HesapID" [label]="{text: 'Hesap'}" editorType="dxSelectBox" [editorOptions]="{ items: accounts, displayExpr:'HesapAdi', valueExpr:'ID' }"></dxi-item>
              <dxi-item dataField="Tahsilat.EvrakTarihi" [label]="{text: 'Tahsilat Tarihi'}" editorType="dxDateBox" [editorOptions]="{ width: '100%'}"></dxi-item>
            </dxi-item>
            <dxi-item dataField="KategoriID" [colSpan]="2" [label]="{text: 'Kategori'}" editorType="dxSelectBox" [editorOptions]="{ items: categories, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="EtiketID" [colSpan]="2" [label]="{text: 'Etiket'}" editorType="dxSelectBox" [editorOptions]="{ items: tags, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
          </dx-form>
        </div>
        <div class="fn-grid-holder">
          <dx-data-grid id="gridContainer" #detailGrid [dataSource]="dataSource2" noDataText="Kayıt Bulunamadı" (onCellClick)="onClickCell($event)"
            [masterDetail]="{ enabled: true, template: 'detail' }">
            <dxo-selection mode="single"></dxo-selection>
            <dxo-editing mode="cell" [allowUpdating]="true"> </dxo-editing>
            <dxi-column dataField="StokID" caption="Hizmet/Ürün" [setCellValue]="valueChange">
              <dxo-lookup [dataSource]="products" displayExpr="Adi" valueExpr="ID"> </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="Birim" caption="Birim" [width]="'10%'"></dxi-column>
            <dxi-column dataField="Miktar" caption="Miktar" [width]="'10%'"></dxi-column>
            <dxi-column dataField="BirimFiyat" caption="Fiyat" [width]="'10%'"></dxi-column>
            <dxi-column dataField="VergiOran" caption="KDV" [width]="'10%'">
              <dxo-lookup [dataSource]="taxes" displayExpr="Name" valueExpr="Value"> </dxo-lookup>
            </dxi-column>
            <dxi-column dataField="Tutar" caption="Toplam" [width]="'15%'" format="#,##0.##"></dxi-column>
            <div *dxTemplate="let item of 'detail'">
              <dx-form class="form-element inline" [formData]="item.data" labelLocation="left" [colCount]="2">
                <dxi-item dataField="Aciklama" [colSpan]="2" [label]="{text: 'Açıklama'}"></dxi-item>
                <dxi-item dataField="IndirimTipi" [colSpan]="1" #itemHolder [label]="{text: 'İndirim Tipi'}" editorType="dxSelectBox" [editorOptions]="{ dataSource: discountTypes, displayExpr:'Name', valueExpr:'ID', onValueChanged: calculateSum }"></dxi-item>
                <dxi-item dataField="IndirimOranTutar" [colSpan]="1" [label]="{text: 'İndirim'}" [editorOptions]="{onValueChanged: calculateSum}"></dxi-item>
                <dxi-item dataField="OivOrani" [colSpan]="1" [label]="{text: 'ÖİV'}" [editorOptions]="{onValueChanged: calculateSum}"></dxi-item>
                <dxi-item dataField="OtvOrani" [colSpan]="1" [label]="{text: 'ÖTV'}" [editorOptions]="{onValueChanged: calculateSum}"></dxi-item>
              </dx-form>
            </div>
          </dx-data-grid>
          <div style="margin-top: 10px !important;">
            <div>
              <button (click)="addRow()" class="fn-button transparent">
                <i class="anticon anticon-plus-circle-o"></i>Bir Hizmet/Ürün Ekle</button>
            </div>
          </div>
        </div>
      </app-fn-form>

      <app-fn-form *ngIf="stateType == 'VERGI'" inheritTitle="Giderler" newTitle="Yeni Vergi" editTitle="Vergi Düzenle" (onSave)="saveForm(form)" (onCancel)="cancelForm()">
        <div class="col-lg-12">
          <dx-form #form class="form-element" [formData]="selectedItem" labelLocation="top" [colCount]="4">
            <dxi-item dataField="Aciklama" [colSpan]="4" [label]="{text: 'Açıklama'}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="HesapTipi" [colSpan]="2" [label]="{text: 'Hesap Tipi'}" editorType="dxSelectBox" [editorOptions]="{ items: accountTypes, displayExpr:'Name', valueExpr:'ID' }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="HesapID" [colSpan]="2" [label]="{text: 'Hesap'}" editorType="dxSelectBox" [editorOptions]="{ items: accounts, displayExpr:'HesapAdi', valueExpr:'ID' }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Tutar" [colSpan]="2" [label]="{text: 'Tutar'}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="DovizCinsi" [colSpan]="2" [label]="{text: 'Döviz'}" editorType="dxSelectBox" [editorOptions]="{ items: currencies, displayExpr:'Adi', valueExpr:'ID', value:defaultDoviz[0].ID }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="OdemeDurumu" [colSpan]="2" [label]="{text: 'Ödeme Durumu'}" editorType="dxSelectBox" [editorOptions]="{ items: paymentStates, displayExpr:'Name', valueExpr:'ID', value: 0 }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="BelgeTarihi" [colSpan]="2" [label]="{text: 'Ödeme Tarihi'}" editorType="dxDateBox" [editorOptions]="{ width: '100%', value:defaultDate}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="VergiTarihi" [colSpan]="2" [label]="{text: 'Vergi Dönemi'}" editorType="dxDateBox" [editorOptions]="{ width: '100%',displayFormat:'MM/yyyy', maxZoomLevel:'year', minZoomLevel:'year', value:defaultDate}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item [colSpan]="2"></dxi-item>
            <dxi-item dataField="KategoriID" [colSpan]="2" [label]="{text: 'Kategori'}" editorType="dxSelectBox" [editorOptions]="{ items: categories, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="EtiketID" [colSpan]="2" [label]="{text: 'Etiket'}" editorType="dxSelectBox" [editorOptions]="{ items: tags, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
          </dx-form>
        </div>
      </app-fn-form>

      <app-fn-form *ngIf="stateType == 'BANKA'" inheritTitle="Giderler" newTitle="Yeni Banka Gideri" editTitle="Banka Gideri Düzenle" (onSave)="saveForm(form)" (onCancel)="cancelForm()">
        <div class="col-lg-12">
          <dx-form #form class="form-element" [formData]="selectedItem" labelLocation="top" [colCount]="4">
            <dxi-item dataField="Aciklama" [colSpan]="4" [label]="{text: 'Açıklama'}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="HesapTipi" [colSpan]="2" [label]="{text: 'Hesap Tipi'}" editorType="dxSelectBox" [editorOptions]="{ items: accountTypes, displayExpr:'Name', valueExpr:'ID' }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="HesapID" [colSpan]="2" [label]="{text: 'Hesap'}" editorType="dxSelectBox" [editorOptions]="{ items: accounts, displayExpr:'HesapAdi', valueExpr:'ID' }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Tutar" [colSpan]="2" [label]="{text: 'Tutar'}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="DovizCinsi" [colSpan]="2" [label]="{text: 'Döviz'}" editorType="dxSelectBox" [editorOptions]="{ items: currencies, displayExpr:'Adi', valueExpr:'ID', value:defaultDoviz[0].ID }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="OdemeDurumu" [colSpan]="2" [label]="{text: 'Ödeme Durumu'}" editorType="dxSelectBox" [editorOptions]="{ items: paymentStates, displayExpr:'Name', valueExpr:'ID', value: 0 }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="KategoriID" [colSpan]="2" [label]="{text: 'Kategori'}" editorType="dxSelectBox" [editorOptions]="{ items: categories, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="EtiketID" [colSpan]="2" [label]="{text: 'Etiket'}" editorType="dxSelectBox" [editorOptions]="{ items: tags, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
          </dx-form>
        </div>
      </app-fn-form>

      <app-fn-form *ngIf="stateType == 'MAAS'" inheritTitle="Giderler" newTitle="Yeni Maaş" editTitle="Maaş Düzenle" (onSave)="saveForm(form)" (onCancel)="cancelForm()">
        <div class="col-lg-12">
          <dx-form #form class="form-element" [formData]="selectedItem" labelLocation="top" [colCount]="4">
            <dxi-item dataField="Aciklama" [colSpan]="4" [label]="{text: 'Açıklama'}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="HesapTipi" [colSpan]="2" [label]="{text: 'Hesap Tipi'}" editorType="dxSelectBox" [editorOptions]="{ items: accountTypes, displayExpr:'Name', valueExpr:'ID' }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="HesapID" [colSpan]="2" [label]="{text: 'Hesap'}" editorType="dxSelectBox" [editorOptions]="{ items: accounts, displayExpr:'HesapAdi', valueExpr:'ID' }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="Tutar" [colSpan]="2" [label]="{text: 'Tutar'}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="DovizCinsi" [colSpan]="2" [label]="{text: 'Döviz'}" editorType="dxSelectBox" [editorOptions]="{ items: currencies, displayExpr:'Adi', valueExpr:'ID', value: defaultDoviz[0].ID}">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="OdemeDurumu" [colSpan]="2" [label]="{text: 'Ödeme Durumu'}" editorType="dxSelectBox" [editorOptions]="{ items: paymentStates, displayExpr:'Name', valueExpr:'ID', value: 0 }">
              <dxi-validation-rule type="required" message="Zorunlu Alan"></dxi-validation-rule>
            </dxi-item>
            <dxi-item dataField="KategoriID" [colSpan]="2" [label]="{text: 'Kategori'}" editorType="dxSelectBox" [editorOptions]="{ items: categories, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="EtiketID" [colSpan]="2" [label]="{text: 'Etiket'}" editorType="dxSelectBox" [editorOptions]="{ items: tags, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
          </dx-form>
        </div>
      </app-fn-form>

      <app-fn-form *ngIf="stateType == 'AVANS'" inheritTitle="Giderler" newTitle="Yeni Avans" editTitle="Avans Düzenle" (onSave)="saveForm()" (onCancel)="cancelForm()">
        <div class="col-lg-12">
          <dx-form class="form-element" [formData]="selectedItem" labelLocation="top" [colCount]="4">
            <dxi-item dataField="Aciklama" [colSpan]="4" [label]="{text: 'Açıklama'}"></dxi-item>
            <dxi-item dataField="KategoriID" [colSpan]="2" [label]="{text: 'Kategori'}" editorType="dxSelectBox" [editorOptions]="{ items: categories, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="EtiketID" [colSpan]="2" [label]="{text: 'Etiket'}" editorType="dxSelectBox" [editorOptions]="{ items: tags, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="HesapTipi" [colSpan]="2" [label]="{text: 'Hesap Tipi'}" editorType="dxSelectBox" [editorOptions]="{ items: accountTypes, displayExpr:'Name', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="HesapID" [colSpan]="2" [label]="{text: 'Hesap'}" editorType="dxSelectBox" [editorOptions]="{ items: accounts, displayExpr:'HesapAdi', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="Tutar" [colSpan]="2" [label]="{text: 'Tutar'}"></dxi-item>
            <dxi-item dataField="DovizCinsi" [colSpan]="2" [label]="{text: 'Döviz'}" editorType="dxSelectBox" [editorOptions]="{ items: currencies, displayExpr:'Adi', valueExpr:'ID' }"></dxi-item>
            <dxi-item dataField="OdemeDurumu" [colSpan]="2" [label]="{text: 'Ödeme Durumu'}" editorType="dxSelectBox" [editorOptions]="{ items: paymentStates, displayExpr:'Name', valueExpr:'ID' }"></dxi-item>
          </dx-form>
        </div>
      </app-fn-form>
    </div>
  </div>
</div>